public/about.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Цифровой диктант 2020</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <div class="header">
        <div class="container">
          <div class="header__wrapper"><a class="logo" href="index.html"></a>
            <div class="header__content"><span class="header__content-top">Всероссийская образовательная акция по определению уровня цифровой грамотности</span>
              <div class="header__right">
                  <div class="menu"><a class="menu__btn" href="#"></a>
                    <div class="menu__content">
                        <div class="user d-xl-none">
                          <div class="user__header"><a class="user__name" href="#">Выйти из профиля</a><a class="user__notifications-btn" href="#"><span>5</span></a></div>
                          <div class="user__notifications-list">
                            <p class="user__notification"> <span>Спасибо за регистрацию. Акция стартует 4 февраля 2020 года"</span></p>
                            <p class="user__notification"> <span>Хотите пройти цифровой диктант, но у вас нет цифрового устройства? Ждем вас на офлайн-площадке вашего города. Узнать точный адрес можно в разделе "Региональные площадки"</span></p>
                            <p class="user__notification"> <span>Цифровой диктант начался! Успейте пройти сами и рассказать близким!</span></p>
                          </div>
                        </div>
                      <div class="menu__links-list"><a class="menu__link menu__link--active" href="#">О проекте</a><a class="menu__link" href="#">Региональные площадки</a><a class="menu__link" href="#">Новости</a><a class="menu__link" href="#">Хочу все знать</a><a class="menu__link" href="#">Стать партнером</a></div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
          <div class="user d-none d-xl-block">
            <div class="user__header"><a class="user__name" href="#">Выйти из профиля</a><a class="user__notifications-btn" href="#"><span>5</span></a></div>
            <div class="user__notifications-list">
              <p class="user__notification"> <span>Спасибо за регистрацию. Акция стартует 4 февраля 2020 года"</span></p>
              <p class="user__notification"> <span>Хотите пройти цифровой диктант, но у вас нет цифрового устройства? Ждем вас на офлайн-площадке вашего города. Узнать точный адрес можно в разделе "Региональные площадки"</span></p>
              <p class="user__notification"> <span>Цифровой диктант начался! Успейте пройти сами и рассказать близким!</span></p>
            </div>
          </div>
      </div>
    <div class="container py-50 py-lg-100 mt-60 mt-md-90">
      <div class="px-xl-100">
        <h1 class="text-white mb-15">О проекте</h1>
        <div class="row">
          <div class="col-lg-8 offset-lg-1">
            <p>В 2020 году всероссийская акция "Цифровой диктант" пройдет с 4 по 10 февраля и станет самой масштабной в России проверкой знаний в области цифровой грамотности. Каждый пользователь сможет проверить свои навыки работы с компьютером и другими устройствами, а также знание правил безопасности в сети и культуры общения.</p>
            <h2 class="mb-20 mt-30">Что мы измеряем?</h2>
            <p>Диктант состоит из вопросов, разработанных с учетом разных возрастных категорий: для детей (14-17 лет) и для взрослых (18+), и разделенных на три смысловых блока. Первый блок посвящен основам компьютерной грамотности, а именно, различным устройствам и знаниям базовых программ. Второй – работе с интернетом, социальными сетями и онлайн-приложениями. Третий – кибербезопасности, в том числе защите персональных данных.</p>
            <h2 class="mb-20 mt-30">Как проходит акция?</h2>
            <p>В этом году акция пройдет в 2 этапа:</p>
            <p>4 февраля 2020 года состоится офлайн-тестирование на различных площадках в Москве и других городах.</p>
            <p>С 4 по 10 февраля все желающие смогут пройти онлайн-тестирование на сайте акции. Дистанционное прохождение диктанта будет доступно для жителей всех регионов России.</p>
          </div>
        </div>
      </div>
    </div>
      <div class="partners">
        <div class="container">
          <div class="partners__row">
            <h4 class="partners__row-header">Организаторы акции</h4>
            <div class="row">
              <div class="col-6 col-md-4 col-lg-3 col-xl-2 d-flex">
                <div class="partners__item"><img class="partners__logo" src="./img/partner-1.png" alt></div>
              </div>
              <div class="col-6 col-md-4 col-lg-3 col-xl-2 d-flex">
                <div class="partners__item"><img class="partners__logo" src="./img/partner-2.png" alt></div>
              </div>
              <div class="col-6 col-md-4 col-lg-3 col-xl-2 d-flex">
                <div class="partners__item"><img class="partners__logo" src="./img/partner-6.png" alt></div>
              </div>
            </div>
          </div>
          <div class="partners__row">
            <h4 class="partners__row-header">Информационные партнеры</h4>
            <div class="row">
              <div class="col-6 col-md-4 col-lg-3 col-xl-2 d-flex">
                <div class="partners__item"><img class="partners__logo" src="./img/partner-3.png" alt></div>
              </div>
              <div class="col-6 col-md-4 col-lg-3 col-xl-2 d-flex">
                <div class="partners__item"><img class="partners__logo" src="./img/partner-30.svg" alt></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-xl-4 mb-30 mb-lg-0">
              <h4 class="mb-15">Социальные сети</h4>
                <div class="socials"><a class="socials__item socials__item--fb" href="#"></a><a class="socials__item socials__item--vk" href="#"></a><a class="socials__item socials__item--ok" href="#"></a><a class="socials__item socials__item--ig" href="#"></a><a class="socials__item socials__item--yt" href="#"></a>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 mb-30 mb-lg-0">
              <h4 class="mb-25">Контактная информация</h4>
              <h4 class="mb-25">Телефон: <br>+7 (495) 638 53 65 </h4>
              <h4>Официальный сайт РОЦИТ <br><a class="text-white" href="rocit.ru">rocit.ru</a></h4>
            </div>
            <div class="col-lg-5">
              <div class="footer__fund"><a class="footer__fund-logo" href="#"><img class="footer__fund-logo-img" src="./img/fund-logo.svg" alt><span class="footer__fund-dscr">Проект реализован с использованием гранта Президента Российской Федерации на развитие гражданского общества, предоставленного Фондом президентских грантов.</span></a></div>
            </div>
          </div>
        </div>
      </div><a class="up" href="#"></a>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>

src/pages/about.pug
extends ../templates/template.pug
block content
  +header
  .container.py-50.py-lg-100.mt-60.mt-md-90
    .px-xl-100
      h1.text-white.mb-15 О проекте
      .row
        .col-lg-8.offset-lg-1
          p В 2020 году всероссийская акция "Цифровой диктант" пройдет с 4 по 10 февраля и станет самой масштабной в России проверкой знаний в области цифровой грамотности. Каждый пользователь сможет проверить свои навыки работы с компьютером и другими устройствами, а также знание правил безопасности в сети и культуры общения.
          h2.mb-20.mt-30 Что мы измеряем?
          p Диктант состоит из вопросов, разработанных с учетом разных возрастных категорий: для детей (14-17 лет) и для взрослых (18+), и разделенных на три смысловых блока. Первый блок посвящен основам компьютерной грамотности, а именно, различным устройствам и знаниям базовых программ. Второй – работе с интернетом, социальными сетями и онлайн-приложениями. Третий – кибербезопасности, в том числе защите персональных данных.
          h2.mb-20.mt-30 Как проходит акция?
          p В этом году акция пройдет в 2 этапа:
          p 4 февраля 2020 года состоится офлайн-тестирование на различных площадках в Москве и других городах.
          p С 4 по 10 февраля все желающие смогут пройти онлайн-тестирование на сайте акции. Дистанционное прохождение диктанта будет доступно для жителей всех регионов России.
  +partners
  +footer
