src/pages/article.pug
extends ../templates/template.pug
block content
  +header
  .article
    .container
      .px-xl-100.py-30.pt-xl-90.mt-60.mt-lg-90
        .row
          .col-lg-8.order-lg-1.order-2
            p.article__date 03.05.2019
            h1.mb-20 Только 37% россиян знают, как противостоять кибермошенникам
          .col-lg-4.order-lg-2.order-1.d-flex.justify-content-lg-end.align-items-start.mb-30.mb-lg-0.pl-20.pl-sm-0
            a.btn.btn-outline-primary.btn-outline-primary--white.btn--back(href="#") К СПИСКУ НОВОСТЕЙ
        .row
          .col-lg-8.offset-lg-1
            h3 Digital Диктант прошел во всех регионах России, в инициативе приняли участие почти сорок тысяч человек. Среднее значение уровня цифровой грамотности составило 7,15 балла из 10 возможных. Наибольшую сложность у участников вызвали вопросы, связанные с цифровой безопасностью.
            img.img-fluid.my-20.my-lg-40(src="./img/news.png", alt)
            p Цифровая грамотность помогает ориентироваться в потоке информации, пользоваться интернетом и технологиями с пользой для себя, защищать личные данные, расширять наши возможности в реальной жизни.
            p Оценка по итогам проекта — не главное. Digital диктант 2019 проводится для того, чтобы каждый из нас увидел каких знаний ему не хватает, понял, почему недостаточная осведомленность может повлечь за собой серьезные последствия не только в цифровом мире, но и в реальном. Задача Digital диктанта — прокачать цифровую культуру, развить способность защищать себя в сети и повысить уровень цифровых компетенций. <br>Цифровая грамотность помогает ориентироваться в потоке информации, пользоваться интернетом и технологиями с пользой для себя, защищать личные данные, расширять наши возможности в реальной жизни.
            .article__quote
              .article__quote-content На протяжении последних 4 лет в рамках исследования «Индекс цифровой грамотности» РОЦИТ измерял уровень цифрового потребления граждан, их цифровые компетенции, а также навыки в области цифровой безопасности. При этом исследование в большей степени позволяло получить самооценочные суждения участников об их цифровой грамотности. Digital Диктант же позволил нам совершить прорыв и приблизиться к пользователям из абсолютно всех регионов РФ. 
              span.article__quote-author СЕРГЕЙ ГРЕБЕННИКОВ, ДИРЕКТОР РОЦИТ
            p Цифровая грамотность помогает ориентироваться в потоке информации, пользоваться интернетом и технологиями с пользой для себя, защищать личные данные, расширять наши возможности в реальной жизни.
            p Оценка по итогам проекта — не главное. Digital диктант 2019 проводится для того, чтобы каждый из нас увидел каких знаний ему не хватает, понял, почему недостаточная осведомленность может повлечь за собой серьезные последствия не только в цифровом мире, но и в реальном. Задача Digital диктанта — прокачать цифровую культуру, развить способность защищать себя в сети и повысить уровень цифровых компетенций. <br>Цифровая грамотность помогает ориентироваться в потоке информации, пользоваться интернетом и технологиями с пользой для себя, защищать личные данные, расширять наши возможности в реальной жизни.
            a.btn.btn-outline-primary.btn-outline-primary--white.mt-30(href="#") СКАЧАТЬ ДОКУМЕНТ
  +partners
  +footer

public/article.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Цифровой диктант 2020</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <div class="header">
        <div class="container">
          <div class="header__wrapper"><a class="logo" href="index.html"></a>
            <div class="header__content"><span class="header__content-top">Всероссийская образовательная акция по определению уровня цифровой грамотности</span>
              <div class="header__right">
                  <div class="menu"><a class="menu__btn" href="#"></a>
                    <div class="menu__content">
                        <div class="user d-xl-none">
                          <div class="user__header"><a class="user__name" href="#">Выйти из профиля</a><a class="user__notifications-btn" href="#"><span>5</span></a></div>
                          <div class="user__notifications-list">
                            <p class="user__notification"> <span>Спасибо за регистрацию. Акция стартует 4 февраля 2020 года"</span></p>
                            <p class="user__notification"> <span>Хотите пройти цифровой диктант, но у вас нет цифрового устройства? Ждем вас на офлайн-площадке вашего города. Узнать точный адрес можно в разделе "Региональные площадки"</span></p>
                            <p class="user__notification"> <span>Цифровой диктант начался! Успейте пройти сами и рассказать близким!</span></p>
                          </div>
                        </div>
                      <div class="menu__links-list"><a class="menu__link menu__link--active" href="#">О проекте</a><a class="menu__link" href="#">Региональные площадки</a><a class="menu__link" href="#">Новости</a><a class="menu__link" href="#">Хочу все знать</a><a class="menu__link" href="#">Стать партнером</a></div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
          <div class="user d-none d-xl-block">
            <div class="user__header"><a class="user__name" href="#">Выйти из профиля</a><a class="user__notifications-btn" href="#"><span>5</span></a></div>
            <div class="user__notifications-list">
              <p class="user__notification"> <span>Спасибо за регистрацию. Акция стартует 4 февраля 2020 года"</span></p>
              <p class="user__notification"> <span>Хотите пройти цифровой диктант, но у вас нет цифрового устройства? Ждем вас на офлайн-площадке вашего города. Узнать точный адрес можно в разделе "Региональные площадки"</span></p>
              <p class="user__notification"> <span>Цифровой диктант начался! Успейте пройти сами и рассказать близким!</span></p>
            </div>
          </div>
      </div>
    <div class="article">
      <div class="container">
        <div class="px-xl-100 py-30 pt-xl-90 mt-60 mt-lg-90">
          <div class="row">
            <div class="col-lg-8 order-lg-1 order-2">
              <p class="article__date">03.05.2019</p>
              <h1 class="mb-20">Только 37% россиян знают, как противостоять кибермошенникам</h1>
            </div>
            <div class="col-lg-4 order-lg-2 order-1 d-flex justify-content-lg-end align-items-start mb-30 mb-lg-0 pl-20 pl-sm-0"><a class="btn btn-outline-primary btn-outline-primary--white btn--back" href="#">К СПИСКУ НОВОСТЕЙ</a></div>
          </div>
          <div class="row">
            <div class="col-lg-8 offset-lg-1">
              <h3>Digital Диктант прошел во всех регионах России, в инициативе приняли участие почти сорок тысяч человек. Среднее значение уровня цифровой грамотности составило 7,15 балла из 10 возможных. Наибольшую сложность у участников вызвали вопросы, связанные с цифровой безопасностью.</h3><img class="img-fluid my-20 my-lg-40" src="./img/news.png" alt>
              <p>Цифровая грамотность помогает ориентироваться в потоке информации, пользоваться интернетом и технологиями с пользой для себя, защищать личные данные, расширять наши возможности в реальной жизни.</p>
              <p>Оценка по итогам проекта — не главное. Digital диктант 2019 проводится для того, чтобы каждый из нас увидел каких знаний ему не хватает, понял, почему недостаточная осведомленность может повлечь за собой серьезные последствия не только в цифровом мире, но и в реальном. Задача Digital диктанта — прокачать цифровую культуру, развить способность защищать себя в сети и повысить уровень цифровых компетенций. <br>Цифровая грамотность помогает ориентироваться в потоке информации, пользоваться интернетом и технологиями с пользой для себя, защищать личные данные, расширять наши возможности в реальной жизни.</p>
              <div class="article__quote">
                <div class="article__quote-content">На протяжении последних 4 лет в рамках исследования «Индекс цифровой грамотности» РОЦИТ измерял уровень цифрового потребления граждан, их цифровые компетенции, а также навыки в области цифровой безопасности. При этом исследование в большей степени позволяло получить самооценочные суждения участников об их цифровой грамотности. Digital Диктант же позволил нам совершить прорыв и приблизиться к пользователям из абсолютно всех регионов РФ. </div><span class="article__quote-author">СЕРГЕЙ ГРЕБЕННИКОВ, ДИРЕКТОР РОЦИТ</span>
              </div>
              <p>Цифровая грамотность помогает ориентироваться в потоке информации, пользоваться интернетом и технологиями с пользой для себя, защищать личные данные, расширять наши возможности в реальной жизни.</p>
              <p>Оценка по итогам проекта — не главное. Digital диктант 2019 проводится для того, чтобы каждый из нас увидел каких знаний ему не хватает, понял, почему недостаточная осведомленность может повлечь за собой серьезные последствия не только в цифровом мире, но и в реальном. Задача Digital диктанта — прокачать цифровую культуру, развить способность защищать себя в сети и повысить уровень цифровых компетенций. <br>Цифровая грамотность помогает ориентироваться в потоке информации, пользоваться интернетом и технологиями с пользой для себя, защищать личные данные, расширять наши возможности в реальной жизни.</p><a class="btn btn-outline-primary btn-outline-primary--white mt-30" href="#">СКАЧАТЬ ДОКУМЕНТ</a>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="partners">
        <div class="container">
          <div class="partners__row">
            <h4 class="partners__row-header">Организаторы акции</h4>
            <div class="row">
              <div class="col-6 col-md-4 col-lg-3 col-xl-2 d-flex">
                <div class="partners__item"><img class="partners__logo" src="./img/partner-1.png" alt></div>
              </div>
              <div class="col-6 col-md-4 col-lg-3 col-xl-2 d-flex">
                <div class="partners__item"><img class="partners__logo" src="./img/partner-2.png" alt></div>
              </div>
              <div class="col-6 col-md-4 col-lg-3 col-xl-2 d-flex">
                <div class="partners__item"><img class="partners__logo" src="./img/partner-6.png" alt></div>
              </div>
            </div>
          </div>
          <div class="partners__row">
            <h4 class="partners__row-header">Информационные партнеры</h4>
            <div class="row">
              <div class="col-6 col-md-4 col-lg-3 col-xl-2 d-flex">
                <div class="partners__item"><img class="partners__logo" src="./img/partner-3.png" alt></div>
              </div>
              <div class="col-6 col-md-4 col-lg-3 col-xl-2 d-flex">
                <div class="partners__item"><img class="partners__logo" src="./img/partner-30.svg" alt></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-xl-4 mb-30 mb-lg-0">
              <h4 class="mb-15">Социальные сети</h4>
                <div class="socials"><a class="socials__item socials__item--fb" href="#"></a><a class="socials__item socials__item--vk" href="#"></a><a class="socials__item socials__item--ok" href="#"></a><a class="socials__item socials__item--ig" href="#"></a><a class="socials__item socials__item--yt" href="#"></a>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 mb-30 mb-lg-0">
              <h4 class="mb-25">Контактная информация</h4>
              <h4 class="mb-25">Телефон: <br>+7 (495) 638 53 65 </h4>
              <h4>Официальный сайт РОЦИТ <br><a class="text-white" href="rocit.ru">rocit.ru</a></h4>
            </div>
            <div class="col-lg-5">
              <div class="footer__fund"><a class="footer__fund-logo" href="#"><img class="footer__fund-logo-img" src="./img/fund-logo.svg" alt><span class="footer__fund-dscr">Проект реализован с использованием гранта Президента Российской Федерации на развитие гражданского общества, предоставленного Фондом президентских грантов.</span></a></div>
            </div>
          </div>
        </div>
      </div><a class="up" href="#"></a>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
