public/cabinet-done.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Цифровой диктант 2020</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body class="body--white">
      <div class="header">
        <div class="container">
          <div class="header__wrapper"><a class="logo" href="index.html"></a>
            <div class="header__content"><span class="header__content-top">Всероссийская образовательная акция по определению уровня цифровой грамотности</span>
              <div class="header__right">
                  <div class="menu"><a class="menu__btn" href="#"></a>
                    <div class="menu__content">
                        <div class="user d-xl-none">
                          <div class="user__header"><a class="user__name" href="#">Выйти из профиля</a><a class="user__notifications-btn" href="#"><span>5</span></a></div>
                          <div class="user__notifications-list">
                            <p class="user__notification"> <span>Спасибо за регистрацию. Акция стартует 4 февраля 2020 года"</span></p>
                            <p class="user__notification"> <span>Хотите пройти цифровой диктант, но у вас нет цифрового устройства? Ждем вас на офлайн-площадке вашего города. Узнать точный адрес можно в разделе "Региональные площадки"</span></p>
                            <p class="user__notification"> <span>Цифровой диктант начался! Успейте пройти сами и рассказать близким!</span></p>
                          </div>
                        </div>
                      <div class="menu__links-list"><a class="menu__link menu__link--active" href="#">О проекте</a><a class="menu__link" href="#">Региональные площадки</a><a class="menu__link" href="#">Новости</a><a class="menu__link" href="#">Хочу все знать</a><a class="menu__link" href="#">Стать партнером</a></div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
          <div class="user d-none d-xl-block">
            <div class="user__header"><a class="user__name" href="#">Выйти из профиля</a><a class="user__notifications-btn" href="#"><span>5</span></a></div>
            <div class="user__notifications-list">
              <p class="user__notification"> <span>Спасибо за регистрацию. Акция стартует 4 февраля 2020 года"</span></p>
              <p class="user__notification"> <span>Хотите пройти цифровой диктант, но у вас нет цифрового устройства? Ждем вас на офлайн-площадке вашего города. Узнать точный адрес можно в разделе "Региональные площадки"</span></p>
              <p class="user__notification"> <span>Цифровой диктант начался! Успейте пройти сами и рассказать близким!</span></p>
            </div>
          </div>
      </div>
    <div class="cabinet pt-60 pt-lg-30">
      <div class="cabinet__wrapper">
        <div class="container py-50 py-lg-100">
          <div class="mb-25">
            <div class="cabinet__user">
              <div class="cabinet__userpic"></div>
              <div class="cabinet__user-content">
                <h2 class="text-primary mb-0">segreev@gmail.com</h2><a class="cabinet__user-edit" href="#">Редактировать профиль</a>
              </div>
            </div>
          </div>
          <div class="col-lg-10 mx-auto">
            <div class="test test--custom">
              <div class="test__content">
                <div class="test__result test__result--cabinet test__result--blue">
                  <div class="test__result-year">2020</div>
                  <div class="test__result-header justify-content-between">
                    <div class="test__result-header-left">
                      <h3 class="test__result-title">Ваш результат Цифрового Диктанта</h3>
                      <p>Вы ответили верно на 10 из 30 вопросов</p>
                    </div>
                    <div class="test__result-rating"> <span class="test__result-number">8</span>/10</div>
                  </div>
                  <div class="test__result-details">
                    <div class="row">
                      <div class="col-md-4">
                        <h4>Цифровое потребление</h4>
                        <div class="test__result-details-number"><span class="test__result-details-number-main">8</span>/10</div>
                        <p class="p--sm text-dark pr-lg-30">Вы купили новый ноутбук, на котором установлена последняя версия </p>
                      </div>
                      <div class="col-md-4">
                        <h4>Цифровые компетенциии</h4>
                        <div class="test__result-details-number"><span class="test__result-details-number-main">3</span>/10</div>
                        <p class="p--sm text-dark pr-lg-30">Вы купили новый ноутбук, на котором установлена последняя версия </p>
                      </div>
                      <div class="col-md-4">
                        <h4>Цифровая безопасность</h4>
                        <div class="test__result-details-number"><span class="test__result-details-number-main">9</span>/10</div>
                        <p class="p--sm text-dark pr-lg-30">Вы купили новый ноутбук, на котором установлена последняя версия </p>
                      </div>
                    </div>
                  </div>
                  <div class="test__result-footer"><a class="btn btn-primary btn-lg btn-shadow test__certificate" href="#">Скачать сертификат</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-primary py-30 py-lg-65 mb-40">
        <div class="cabinet__wrapper">
          <div class="container">
            <h2 class="text-white">Работа над ошибками</h2>
            <p class="mb-0 text-white">Хотите узнать, на какие вопросы вы ответили неверно? Вы сможете это сделать, как только завершится акция. А чтобы вы об этом не забыли, мы отправим на ваш e-mail напоминание.</p>
          </div>
        </div>
      </div>
      <div class="bg-primary py-30 pt-lg-70 pb-lg-45 mb-40 mb-lg-90">
        <div class="cabinet__wrapper">
          <div class="container">
            <h2 class="text-white">Работа над ошибками</h2>
            <div class="row">
              <div class="col-lg-6"><a class="btn btn-white btn-lg w-100 mt-30" href="#">Начать</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="cabinet__wrapper">
        <div class="container">
          <h2 class="text-primary mb-35">Рекомендации</h2>
          <div class="row">
            <div class="col-md-6 col-lg-4"><a class="news news--white" href="#"> 
                  <div class="news__picture" style="background-image: url(./img/news.png)"></div>
                  <div class="news__tags">
                      <div class="tag">14—17 лет</div>
                      <div class="tag">Видео</div>
                  </div>
                  <h4 class="mb-0 news__title">Какие фотографии не стоит выкладывать в интернет</h4></a>
            </div>
            <div class="col-md-6 col-lg-4"><a class="news news--white" href="#"> 
                  <div class="news__picture" style="background-image: url(./img/news.png)"></div>
                  <div class="news__tags">
                      <div class="tag">14—17 лет</div>
                      <div class="tag">Видео</div>
                  </div>
                  <h4 class="mb-0 news__title">Какие фотографии не стоит выкладывать в интернет</h4></a>
            </div>
            <div class="col-md-6 col-lg-4"><a class="news news--white" href="#"> 
                  <div class="news__picture" style="background-image: url(./img/news.png)"></div>
                  <div class="news__tags">
                      <div class="tag">14—17 лет</div>
                      <div class="tag">Видео</div>
                  </div>
                  <h4 class="mb-0 news__title">Какие фотографии не стоит выкладывать в интернет</h4></a>
            </div>
            <div class="col-md-6 col-lg-4"><a class="news news--white" href="#"> 
                  <div class="news__picture" style="background-image: url(./img/news.png)"></div>
                  <div class="news__tags">
                      <div class="tag">14—17 лет</div>
                      <div class="tag">Видео</div>
                  </div>
                  <h4 class="mb-0 news__title">Какие фотографии не стоит выкладывать в интернет</h4></a>
            </div>
            <div class="col-md-6 col-lg-4"><a class="news news--white" href="#"> 
                  <div class="news__picture" style="background-image: url(./img/news.png)"></div>
                  <div class="news__tags">
                      <div class="tag">14—17 лет</div>
                      <div class="tag">Видео</div>
                  </div>
                  <h4 class="mb-0 news__title">Какие фотографии не стоит выкладывать в интернет</h4></a>
            </div>
            <div class="col-md-6 col-lg-4"><a class="news news--white" href="#"> 
                  <div class="news__picture" style="background-image: url(./img/news.png)"></div>
                  <div class="news__tags">
                      <div class="tag">14—17 лет</div>
                      <div class="tag">Видео</div>
                  </div>
                  <h4 class="mb-0 news__title">Какие фотографии не стоит выкладывать в интернет</h4></a>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="certificate">
        <div class="container"><a class="certificate__close" href="#"></a>
          <div class="certificate__content">
            <h1 class="text-white mb-20 mb-sm-50">Выберите формат сертификата</h1><a class="btn btn-white btn-lg btn-shadow certificate__btn mb-20" href="#">Именной</a><a class="btn btn-white btn-lg btn-shadow certificate__btn" href="#">АНОНИМНЫЙ</a>
            <form class="form certificate__form" action="#" method="POST">
              <div class="form__item form-group">
                <input class="input form-control" type="text" placeholder="Ваше имя">
              </div>
              <button class="btn btn-white certificate__btn" type="submit">Скачать сертификат</button>
            </form>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-xl-4 mb-30 mb-lg-0">
              <h4 class="mb-15">Социальные сети</h4>
                <div class="socials"><a class="socials__item socials__item--fb" href="#"></a><a class="socials__item socials__item--vk" href="#"></a><a class="socials__item socials__item--ok" href="#"></a><a class="socials__item socials__item--ig" href="#"></a><a class="socials__item socials__item--yt" href="#"></a>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 mb-30 mb-lg-0">
              <h4 class="mb-25">Контактная информация</h4>
              <h4 class="mb-25">Телефон: <br>+7 (495) 638 53 65 </h4>
              <h4>Официальный сайт РОЦИТ <br><a class="text-white" href="rocit.ru">rocit.ru</a></h4>
            </div>
            <div class="col-lg-5">
              <div class="footer__fund"><a class="footer__fund-logo" href="#"><img class="footer__fund-logo-img" src="./img/fund-logo.svg" alt><span class="footer__fund-dscr">Проект реализован с использованием гранта Президента Российской Федерации на развитие гражданского общества, предоставленного Фондом президентских грантов.</span></a></div>
            </div>
          </div>
        </div>
      </div><a class="up" href="#"></a>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>

src/pages/cabinet-done.pug
extends ../templates/template-white.pug
block content
  +header
  .cabinet.pt-60.pt-lg-30
    .cabinet__wrapper
      .container.py-50.py-lg-100
        .mb-25
          .cabinet__user
            .cabinet__userpic
            .cabinet__user-content
              h2.text-primary.mb-0 segreev@gmail.com
              a.cabinet__user-edit(href="#") Редактировать профиль
        .col-lg-10.mx-auto
          .test.test--custom
            .test__content
              .test__result.test__result--cabinet.test__result--blue
                .test__result-year 2020
                .test__result-header.justify-content-between
                  .test__result-header-left
                    h3.test__result-title Ваш результат Цифрового Диктанта
                    p Вы ответили верно на 10 из 30 вопросов
                  .test__result-rating 
                    span.test__result-number 8
                    |/10
                .test__result-details
                  .row
                    .col-md-4
                      h4 Цифровое потребление
                      .test__result-details-number
                        span.test__result-details-number-main 8
                        | /10
                      p.p--sm.text-dark.pr-lg-30 Вы купили новый ноутбук, на котором установлена последняя версия 
                    .col-md-4
                      h4 Цифровые компетенциии
                      .test__result-details-number
                        span.test__result-details-number-main 3
                        | /10
                      p.p--sm.text-dark.pr-lg-30 Вы купили новый ноутбук, на котором установлена последняя версия 
                    .col-md-4
                      h4 Цифровая безопасность
                      .test__result-details-number
                        span.test__result-details-number-main 9
                        | /10
                      p.p--sm.text-dark.pr-lg-30 Вы купили новый ноутбук, на котором установлена последняя версия 
                .test__result-footer
                  a.btn.btn-primary.btn-lg.btn-shadow.test__certificate(href="#") Скачать сертификат
    .bg-primary.py-30.py-lg-65.mb-40
      .cabinet__wrapper
        .container
          h2.text-white Работа над ошибками
          p.mb-0.text-white Хотите узнать, на какие вопросы вы ответили неверно? Вы сможете это сделать, как только завершится акция. А чтобы вы об этом не забыли, мы отправим на ваш e-mail напоминание.
    .bg-primary.py-30.pt-lg-70.pb-lg-45.mb-40.mb-lg-90
      .cabinet__wrapper
        .container
          h2.text-white Работа над ошибками
          .row
            .col-lg-6
              a.btn.btn-white.btn-lg.w-100.mt-30(href="#") Начать
    .cabinet__wrapper
      .container
        h2.text-primary.mb-35 Рекомендации
        .row
          .col-md-6.col-lg-4
            +news({
              modifier: 'tagged'
            }).news--white
          .col-md-6.col-lg-4
            +news({
              modifier: 'tagged'
            }).news--white
          .col-md-6.col-lg-4
            +news({
              modifier: 'tagged'
            }).news--white
          .col-md-6.col-lg-4
            +news({
              modifier: 'tagged'
            }).news--white
          .col-md-6.col-lg-4
            +news({
              modifier: 'tagged'
            }).news--white
          .col-md-6.col-lg-4
            +news({
              modifier: 'tagged'
            }).news--white
  +certificate
  +footer
