public/cabinet-edit.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Цифровой диктант 2020</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body class="body--white">
      <div class="header">
        <div class="container">
          <div class="header__wrapper"><a class="logo" href="index.html"></a>
            <div class="header__content"><span class="header__content-top">Всероссийская образовательная акция по определению уровня цифровой грамотности</span>
              <div class="header__right">
                  <div class="menu"><a class="menu__btn" href="#"></a>
                    <div class="menu__content">
                        <div class="user d-xl-none">
                          <div class="user__header"><a class="user__name" href="#">Выйти из профиля</a><a class="user__notifications-btn" href="#"><span>5</span></a></div>
                          <div class="user__notifications-list">
                            <p class="user__notification"> <span>Спасибо за регистрацию. Акция стартует 4 февраля 2020 года"</span></p>
                            <p class="user__notification"> <span>Хотите пройти цифровой диктант, но у вас нет цифрового устройства? Ждем вас на офлайн-площадке вашего города. Узнать точный адрес можно в разделе "Региональные площадки"</span></p>
                            <p class="user__notification"> <span>Цифровой диктант начался! Успейте пройти сами и рассказать близким!</span></p>
                          </div>
                        </div>
                      <div class="menu__links-list"><a class="menu__link menu__link--active" href="#">О проекте</a><a class="menu__link" href="#">Региональные площадки</a><a class="menu__link" href="#">Новости</a><a class="menu__link" href="#">Хочу все знать</a><a class="menu__link" href="#">Стать партнером</a></div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
          <div class="user d-none d-xl-block">
            <div class="user__header"><a class="user__name" href="#">Выйти из профиля</a><a class="user__notifications-btn" href="#"><span>5</span></a></div>
            <div class="user__notifications-list">
              <p class="user__notification"> <span>Спасибо за регистрацию. Акция стартует 4 февраля 2020 года"</span></p>
              <p class="user__notification"> <span>Хотите пройти цифровой диктант, но у вас нет цифрового устройства? Ждем вас на офлайн-площадке вашего города. Узнать точный адрес можно в разделе "Региональные площадки"</span></p>
              <p class="user__notification"> <span>Цифровой диктант начался! Успейте пройти сами и рассказать близким!</span></p>
            </div>
          </div>
      </div>
    <div class="cabinet pt-60 pt-lg-30">
      <div class="cabinet__wrapper">
        <div class="container py-50 py-lg-100">
          <form class="form--dark" action="#" method="POST">
            <div class="row mb-20 mb-md-0">
              <div class="col-4 col-sm-3 col-md-2">
                <div class="cabinet__user">
                  <div class="cabinet__userpic" style="background-image: url(./img/user.jpg);"></div>
                </div>
              </div>
              <div class="col-8 col-sm-5 d-flex align-items-center"><a class="btn btn-outline-primary px-10 w-auto" href="#">Изменить фотографию</a></div>
            </div>
            <div class="row">
              <div class="col-md-5 offset-md-2">
                <div class="form__item form-group mb-20">
                  <input class="input form-control" type="text" placeholder="Имя" value="Василий">
                </div>
                <div class="form__item form-group">
                  <input class="input form-control" type="email" placeholder="E-mail" value="jdhfnncdcj@gmail.com">
                </div>
                <div class="form__item form-group mb-20">
                  <input class="input form-control" type="password" placeholder="E-mail" value="gdgjhdfjkghdklg">
                </div><a class="btn btn-outline-primary px-20 w-auto" href="#">Изменить пароль</a>
                <div>
                  <button class="btn btn-primary btn-lg btn-shadow mt-30 mt-lg-60" type="submit">Готово</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-xl-4 mb-30 mb-lg-0">
              <h4 class="mb-15">Социальные сети</h4>
                <div class="socials"><a class="socials__item socials__item--fb" href="#"></a><a class="socials__item socials__item--vk" href="#"></a><a class="socials__item socials__item--ok" href="#"></a><a class="socials__item socials__item--ig" href="#"></a><a class="socials__item socials__item--yt" href="#"></a>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 mb-30 mb-lg-0">
              <h4 class="mb-25">Контактная информация</h4>
              <h4 class="mb-25">Телефон: <br>+7 (495) 638 53 65 </h4>
              <h4>Официальный сайт РОЦИТ <br><a class="text-white" href="rocit.ru">rocit.ru</a></h4>
            </div>
            <div class="col-lg-5">
              <div class="footer__fund"><a class="footer__fund-logo" href="#"><img class="footer__fund-logo-img" src="./img/fund-logo.svg" alt><span class="footer__fund-dscr">Проект реализован с использованием гранта Президента Российской Федерации на развитие гражданского общества, предоставленного Фондом президентских грантов.</span></a></div>
            </div>
          </div>
        </div>
      </div><a class="up" href="#"></a>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>

src/pages/cabinet-edit.pug
extends ../templates/template-white.pug
block content
  +header
  .cabinet.pt-60.pt-lg-30
    .cabinet__wrapper
      .container.py-50.py-lg-100
        form.form--dark(action="#", method="POST")
          .row.mb-20.mb-md-0
            .col-4.col-sm-3.col-md-2
              .cabinet__user
                .cabinet__userpic(style="background-image: url(./img/user.jpg);")
            .col-8.col-sm-5.d-flex.align-items-center
              a.btn.btn-outline-primary.px-10.w-auto(href="#") Изменить фотографию
          .row
            .col-md-5.offset-md-2
              .form__item.form-group.mb-20
                input.input.form-control(type="text", placeholder="Имя", value="Василий")
              .form__item.form-group
                input.input.form-control(type="email", placeholder="E-mail", value="jdhfnncdcj@gmail.com")
              .form__item.form-group.mb-20
                input.input.form-control(type="password", placeholder="E-mail", value="gdgjhdfjkghdklg")
              a.btn.btn-outline-primary.px-20.w-auto(href="#") Изменить пароль
              div
                button.btn.btn-primary.btn-lg.btn-shadow.mt-30.mt-lg-60(type="submit") Готово
  +footer
