src/pages/cabinet-done-custom.pug
extends ../templates/template-white.pug
block content
  +header
  .cabinet.pt-60.pt-lg-30
    .cabinet__wrapper
      .container.py-50.py-lg-100
        .mb-25
          .cabinet__user
            .cabinet__userpic
            .cabinet__user-content
              h2.text-primary.mb-0 segreev@gmail.com
              a.cabinet__user-edit(href="#") Редактировать профиль
        .col-lg-10.mx-auto
          .test.pb-20.pb-sm-30
            .test__content
              .test__result.test__result--cabinet.test__result--blue
                .test__result-tabs
                  h4.test__result-tabs-item
                    a.test__result-tabs-link(href="#") Цифровой диктант 2020
                  h4.test__result-tabs-item
                    a.test__result-tabs-link.test__result-tabs-link--active(href="#") Русский язык
                .test__result-header.justify-content-between
                  .test__result-header-left
                    h3.test__result-title Ваш результат Цифрового Диктанта по русскому языку
                    p Вы ответили верно на 10 из 30 вопросов
                  .test__result-rating 
                    span.test__result-number 18
                    |/30
                .test__result-footer
                  a.btn.btn-primary.btn-lg.btn-shadow.test__certificate(href="#") Скачать сертификат
    .py-30.py-lg-65.mb-40(style="background: url(./img/custom-bg.png) no-repeat center; background-size: cover;")
      .cabinet__wrapper
        .container
          .row
            .col-lg-11
              h2.text-white Работа над ошибками
              p.mb-0.text-white Хотите узнать, на какие вопросы вы ответили неверно? Вы сможете это сделать, как только завершится акция. А чтобы вы об этом не забыли, мы отправим на ваш e-mail напоминание.
    .py-30.pt-lg-70.pb-lg-45.mb-40.mb-lg-90(style="background: url(./img/custom-bg-2.png) no-repeat center; background-size: cover;")
      .cabinet__wrapper
        .container
          h2.text-white Работа над ошибками
          .row
            .col-lg-6
              a.btn.btn-white.btn-lg.w-100.mt-30.text-blue(href="#") Начать
  +footer

public/cabinet-done-custom.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Цифровой диктант 2020</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body class="body--white">
      <div class="header">
        <div class="container">
          <div class="header__wrapper"><a class="logo" href="index.html"></a>
            <div class="header__content"><span class="header__content-top">Всероссийская образовательная акция по определению уровня цифровой грамотности</span>
              <div class="header__right">
                  <div class="menu"><a class="menu__btn" href="#"></a>
                    <div class="menu__content">
                        <div class="user d-xl-none">
                          <div class="user__header"><a class="user__name" href="#">Выйти из профиля</a><a class="user__notifications-btn" href="#"><span>5</span></a></div>
                          <div class="user__notifications-list">
                            <p class="user__notification"> <span>Спасибо за регистрацию. Акция стартует 4 февраля 2020 года"</span></p>
                            <p class="user__notification"> <span>Хотите пройти цифровой диктант, но у вас нет цифрового устройства? Ждем вас на офлайн-площадке вашего города. Узнать точный адрес можно в разделе "Региональные площадки"</span></p>
                            <p class="user__notification"> <span>Цифровой диктант начался! Успейте пройти сами и рассказать близким!</span></p>
                          </div>
                        </div>
                      <div class="menu__links-list"><a class="menu__link menu__link--active" href="#">О проекте</a><a class="menu__link" href="#">Региональные площадки</a><a class="menu__link" href="#">Новости</a><a class="menu__link" href="#">Хочу все знать</a><a class="menu__link" href="#">Стать партнером</a></div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
          <div class="user d-none d-xl-block">
            <div class="user__header"><a class="user__name" href="#">Выйти из профиля</a><a class="user__notifications-btn" href="#"><span>5</span></a></div>
            <div class="user__notifications-list">
              <p class="user__notification"> <span>Спасибо за регистрацию. Акция стартует 4 февраля 2020 года"</span></p>
              <p class="user__notification"> <span>Хотите пройти цифровой диктант, но у вас нет цифрового устройства? Ждем вас на офлайн-площадке вашего города. Узнать точный адрес можно в разделе "Региональные площадки"</span></p>
              <p class="user__notification"> <span>Цифровой диктант начался! Успейте пройти сами и рассказать близким!</span></p>
            </div>
          </div>
      </div>
    <div class="cabinet pt-60 pt-lg-30">
      <div class="cabinet__wrapper">
        <div class="container py-50 py-lg-100">
          <div class="mb-25">
            <div class="cabinet__user">
              <div class="cabinet__userpic"></div>
              <div class="cabinet__user-content">
                <h2 class="text-primary mb-0">segreev@gmail.com</h2><a class="cabinet__user-edit" href="#">Редактировать профиль</a>
              </div>
            </div>
          </div>
          <div class="col-lg-10 mx-auto">
            <div class="test pb-20 pb-sm-30">
              <div class="test__content">
                <div class="test__result test__result--cabinet test__result--blue">
                  <div class="test__result-tabs">
                    <h4 class="test__result-tabs-item"><a class="test__result-tabs-link" href="#">Цифровой диктант 2020</a></h4>
                    <h4 class="test__result-tabs-item"><a class="test__result-tabs-link test__result-tabs-link--active" href="#">Русский язык</a></h4>
                  </div>
                  <div class="test__result-header justify-content-between">
                    <div class="test__result-header-left">
                      <h3 class="test__result-title">Ваш результат Цифрового Диктанта по русскому языку</h3>
                      <p>Вы ответили верно на 10 из 30 вопросов</p>
                    </div>
                    <div class="test__result-rating"> <span class="test__result-number">18</span>/30</div>
                  </div>
                  <div class="test__result-footer"><a class="btn btn-primary btn-lg btn-shadow test__certificate" href="#">Скачать сертификат</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="py-30 py-lg-65 mb-40" style="background: url(./img/custom-bg.png) no-repeat center; background-size: cover;">
        <div class="cabinet__wrapper">
          <div class="container">
            <div class="row">
              <div class="col-lg-11">
                <h2 class="text-white">Работа над ошибками</h2>
                <p class="mb-0 text-white">Хотите узнать, на какие вопросы вы ответили неверно? Вы сможете это сделать, как только завершится акция. А чтобы вы об этом не забыли, мы отправим на ваш e-mail напоминание.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="py-30 pt-lg-70 pb-lg-45 mb-40 mb-lg-90" style="background: url(./img/custom-bg-2.png) no-repeat center; background-size: cover;">
        <div class="cabinet__wrapper">
          <div class="container">
            <h2 class="text-white">Работа над ошибками</h2>
            <div class="row">
              <div class="col-lg-6"><a class="btn btn-white btn-lg w-100 mt-30 text-blue" href="#">Начать</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-xl-4 mb-30 mb-lg-0">
              <h4 class="mb-15">Социальные сети</h4>
                <div class="socials"><a class="socials__item socials__item--fb" href="#"></a><a class="socials__item socials__item--vk" href="#"></a><a class="socials__item socials__item--ok" href="#"></a><a class="socials__item socials__item--ig" href="#"></a><a class="socials__item socials__item--yt" href="#"></a>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 mb-30 mb-lg-0">
              <h4 class="mb-25">Контактная информация</h4>
              <h4 class="mb-25">Телефон: <br>+7 (495) 638 53 65 </h4>
              <h4>Официальный сайт РОЦИТ <br><a class="text-white" href="rocit.ru">rocit.ru</a></h4>
            </div>
            <div class="col-lg-5">
              <div class="footer__fund"><a class="footer__fund-logo" href="#"><img class="footer__fund-logo-img" src="./img/fund-logo.svg" alt><span class="footer__fund-dscr">Проект реализован с использованием гранта Президента Российской Федерации на развитие гражданского общества, предоставленного Фондом президентских грантов.</span></a></div>
            </div>
          </div>
        </div>
      </div><a class="up" href="#"></a>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
