src/pages/custom-front.pug
extends ../templates/template-white.pug
block content
  +header
  div(style="background: url(./img/custom-bg.png) no-repeat center; background-size: cover;")
    .container.py-50.py-lg-85.mt-60.mt-md-90
      .custom-front
        h2.mb-0 Добро пожаловать <br>на Цифровой Диктант
        img.w-100(src="./img/handwritten-title.svg", alt)
        h4.mt-20.mb-25.px-lg-40 Диктант приурочен ко Дню русского языка и поможет вам проверить свои знания в формате теста. 
        .custom-front__rules
          img.custom-front__rules-handwritten(src="./img/handwritten-rules.svg", alt)
          p.mb-0 К каждому вопросу будет предложено четыре варианта ответа, только один из которых верный. Выберите тот ответ, который считаете правильным, и нажмите на кнопку “Следующий вопрос”.
        p Для того, чтобы начать диктант, введите свой e-mail. Будьте внимательны и проверьте введенный адрес. После того, как вы пройдете тестирование, на этот e-mail будет направлен ваш результат и ссылка для создания личного кабинета.
        form.form.custom-front__form(action="#", method="POST")
          .form__item.form-group.mb-15
            input.input.form-control(type="email", placeholder="E-mail")
          p После нажатия на кнопку “Начать диктант” вы перейдете к тестированию. Время прохождения тестирования не ограничено.
          button.btn-handwritten.w-100.mb-30(type="submit")
            img(src="./img/handwritten-btn-white.svg", alt)
          a.btn.btn-link.mt-10.p-0(href="#") Политика конфиденциальности
  +partners({
    modifier: 'organizers'
  }).partners--section

public/custom-front.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Цифровой диктант 2020</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body class="body--white">
      <div class="header">
        <div class="container">
          <div class="header__wrapper"><a class="logo" href="index.html"></a>
            <div class="header__content"><span class="header__content-top">Всероссийская образовательная акция по определению уровня цифровой грамотности</span>
              <div class="header__right">
                  <div class="menu"><a class="menu__btn" href="#"></a>
                    <div class="menu__content">
                        <div class="user d-xl-none">
                          <div class="user__header"><a class="user__name" href="#">Выйти из профиля</a><a class="user__notifications-btn" href="#"><span>5</span></a></div>
                          <div class="user__notifications-list">
                            <p class="user__notification"> <span>Спасибо за регистрацию. Акция стартует 4 февраля 2020 года"</span></p>
                            <p class="user__notification"> <span>Хотите пройти цифровой диктант, но у вас нет цифрового устройства? Ждем вас на офлайн-площадке вашего города. Узнать точный адрес можно в разделе "Региональные площадки"</span></p>
                            <p class="user__notification"> <span>Цифровой диктант начался! Успейте пройти сами и рассказать близким!</span></p>
                          </div>
                        </div>
                      <div class="menu__links-list"><a class="menu__link menu__link--active" href="#">О проекте</a><a class="menu__link" href="#">Региональные площадки</a><a class="menu__link" href="#">Новости</a><a class="menu__link" href="#">Хочу все знать</a><a class="menu__link" href="#">Стать партнером</a></div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
          <div class="user d-none d-xl-block">
            <div class="user__header"><a class="user__name" href="#">Выйти из профиля</a><a class="user__notifications-btn" href="#"><span>5</span></a></div>
            <div class="user__notifications-list">
              <p class="user__notification"> <span>Спасибо за регистрацию. Акция стартует 4 февраля 2020 года"</span></p>
              <p class="user__notification"> <span>Хотите пройти цифровой диктант, но у вас нет цифрового устройства? Ждем вас на офлайн-площадке вашего города. Узнать точный адрес можно в разделе "Региональные площадки"</span></p>
              <p class="user__notification"> <span>Цифровой диктант начался! Успейте пройти сами и рассказать близким!</span></p>
            </div>
          </div>
      </div>
    <div style="background: url(./img/custom-bg.png) no-repeat center; background-size: cover;">
      <div class="container py-50 py-lg-85 mt-60 mt-md-90">
        <div class="custom-front">
          <h2 class="mb-0">Добро пожаловать <br>на Цифровой Диктант</h2><img class="w-100" src="./img/handwritten-title.svg" alt>
          <h4 class="mt-20 mb-25 px-lg-40">Диктант приурочен ко Дню русского языка и поможет вам проверить свои знания в формате теста. </h4>
          <div class="custom-front__rules"><img class="custom-front__rules-handwritten" src="./img/handwritten-rules.svg" alt>
            <p class="mb-0">К каждому вопросу будет предложено четыре варианта ответа, только один из которых верный. Выберите тот ответ, который считаете правильным, и нажмите на кнопку “Следующий вопрос”.</p>
          </div>
          <p>Для того, чтобы начать диктант, введите свой e-mail. Будьте внимательны и проверьте введенный адрес. После того, как вы пройдете тестирование, на этот e-mail будет направлен ваш результат и ссылка для создания личного кабинета.</p>
          <form class="form custom-front__form" action="#" method="POST">
            <div class="form__item form-group mb-15">
              <input class="input form-control" type="email" placeholder="E-mail">
            </div>
            <p>После нажатия на кнопку “Начать диктант” вы перейдете к тестированию. Время прохождения тестирования не ограничено.</p>
            <button class="btn-handwritten w-100 mb-30" type="submit"><img src="./img/handwritten-btn-white.svg" alt></button><a class="btn btn-link mt-10 p-0" href="#">Политика конфиденциальности</a>
          </form>
        </div>
      </div>
    </div>
      <div class="partners partners--section">
        <div class="container">
          <h4 class="partners__row-header">Организаторы акции</h4>
          <div class="row justify-content-center">
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 d-flex">
              <div class="partners__item"><img class="partners__logo" src="./img/partner-1.png" alt></div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 d-flex">
              <div class="partners__item"><img class="partners__logo" src="./img/partner-3.png" alt></div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 d-flex">
              <div class="partners__item"><img class="partners__logo" src="./img/partner-6.png" alt></div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 d-flex">
              <div class="partners__item"><img class="partners__logo" src="./img/partner-31.svg" alt></div>
            </div>
          </div>
        </div>
      </div><a class="up" href="#"></a>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
