public/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Цифровой диктант 2020</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div class="container py-50">
      <h2 class="mb-20 pb-10 border-bottom">Список страниц</h2>
      <div class="row">
        <div class="col-md-4">
          <ul class="pl-0">
            <li style="list-style: none;"><a class="d-block my-20 text-white" href="main.html" style="font-size: 20px;">Main</a></li>
            <li style="list-style: none;"><a class="d-block my-20 text-white" href="main-start.html" style="font-size: 20px;">Main Start</a></li>
            <li style="list-style: none;"><a class="d-block my-20 text-white" href="news.html" style="font-size: 20px;">News</a></li>
            <li style="list-style: none;"><a class="d-block my-20 text-white" href="article.html" style="font-size: 20px;">Article</a></li>
            <li style="list-style: none;"><a class="d-block my-20 text-white" href="partner.html" style="font-size: 20px;">Partner</a></li>
            <li style="list-style: none;"><a class="d-block my-20 text-white" href="about.html" style="font-size: 20px;">About</a></li>
            <li style="list-style: none;"><a class="d-block my-20 text-white" href="library.html" style="font-size: 20px;">Хочу все знать</a></li>
            <li style="list-style: none;"><a class="d-block my-20 text-white" href="regions.html" style="font-size: 20px;">Региональные площадки</a></li>
            <li style="list-style: none;"><a class="d-block my-20 text-white" href="login-filled.html" style="font-size: 20px;">Login Filled</a></li>
            <li style="list-style: none;"><a class="d-block my-20 text-white" href="login-start.html" style="font-size: 20px;">Login Start</a></li>
            <li style="list-style: none;"><a class="d-block my-20 text-white" href="login.html" style="font-size: 20px;">Login</a></li>
            <li style="list-style: none;"><a class="d-block my-20 text-white" href="registration.html" style="font-size: 20px;">Registration</a></li>
            <li style="list-style: none;"><a class="d-block my-20 text-white" href="password.html" style="font-size: 20px;">Password</a></li>
            <li style="list-style: none;"><a class="d-block my-20 text-white" href="test-age.html" style="font-size: 20px;">Test Age</a></li>
            <li style="list-style: none;"><a class="d-block my-20 text-white" href="test-question.html" style="font-size: 20px;">Test Question</a></li>
            <li style="list-style: none;"><a class="d-block my-20 text-white" href="test-result.html" style="font-size: 20px;">Test Result</a></li>
            <li style="list-style: none;"><a class="d-block my-20 text-white" href="test-result-incorrect.html" style="font-size: 20px;">Test Result Incorrect</a></li>
            <li style="list-style: none;"><a class="d-block my-20 text-white" href="test-correct.html" style="font-size: 20px;">Test Correct</a></li>
            <li style="list-style: none;"><a class="d-block my-20 text-white" href="test-incorrect.html" style="font-size: 20px;">Test Incorrect</a></li>
            <li style="list-style: none;"><a class="d-block my-20 text-white" href="test-info.html" style="font-size: 20px;">Test Info</a></li>
            <li style="list-style: none;"><a class="d-block my-20 text-white" href="test-info-young.html" style="font-size: 20px;">Test Info Young</a></li>
            <li style="list-style: none;"><a class="d-block my-20 text-white" href="cabinet.html" style="font-size: 20px;">Cabinet</a></li>
            <li style="list-style: none;"><a class="d-block my-20 text-white" href="cabinet-done.html" style="font-size: 20px;">Cabinet Done</a></li>
            <li style="list-style: none;"><a class="d-block my-20 text-white" href="cabinet-edit.html" style="font-size: 20px;">Cabinet Edit</a></li>
            <li style="list-style: none;"><a class="d-block my-20 text-white" href="main-russian.html" style="font-size: 20px;">Main-russian</a></li>
            <li style="list-style: none;"><a class="d-block my-20 text-white" href="custom-front.html" style="font-size: 20px;">Custom-front</a></li>
            <li style="list-style: none;"><a class="d-block my-20 text-white" href="cabinet-done-custom.html" style="font-size: 20px;">Cabinet-done-custom</a></li>
            <li style="list-style: none;"><a class="d-block my-20 text-white" href="test-result-custom.html" style="font-size: 20px;">Test-result-custom</a></li>
          </ul>
        </div>
      </div>
    </div><a class="up" href="#"></a>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>

src/pages/index.pug
extends ../templates/template.pug
block content
  .container.py-50
    h2.mb-20.pb-10.border-bottom Список страниц
    .row
      .col-md-4
        ul.pl-0
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="main.html", style="font-size: 20px;") Main
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="main-start.html", style="font-size: 20px;") Main Start
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="news.html", style="font-size: 20px;") News
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="article.html", style="font-size: 20px;") Article
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="partner.html", style="font-size: 20px;") Partner
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="about.html", style="font-size: 20px;") About
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="library.html", style="font-size: 20px;") Хочу все знать
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="regions.html", style="font-size: 20px;") Региональные площадки
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="login-filled.html", style="font-size: 20px;") Login Filled
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="login-start.html", style="font-size: 20px;") Login Start
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="login.html", style="font-size: 20px;") Login
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="registration.html", style="font-size: 20px;") Registration
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="password.html", style="font-size: 20px;") Password
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="test-age.html", style="font-size: 20px;") Test Age
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="test-question.html", style="font-size: 20px;") Test Question
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="test-result.html", style="font-size: 20px;") Test Result
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="test-result-incorrect.html", style="font-size: 20px;") Test Result Incorrect
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="test-correct.html", style="font-size: 20px;") Test Correct
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="test-incorrect.html", style="font-size: 20px;") Test Incorrect
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="test-info.html", style="font-size: 20px;") Test Info
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="test-info-young.html", style="font-size: 20px;") Test Info Young
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="cabinet.html", style="font-size: 20px;") Cabinet
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="cabinet-done.html", style="font-size: 20px;") Cabinet Done
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="cabinet-edit.html", style="font-size: 20px;") Cabinet Edit
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="main-russian.html", style="font-size: 20px;") Main-russian
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="custom-front.html", style="font-size: 20px;") Custom-front
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="cabinet-done-custom.html", style="font-size: 20px;") Cabinet-done-custom
          li(style="list-style: none;")
            a.d-block.my-20.text-white(href="test-result-custom.html", style="font-size: 20px;") Test-result-custom
