src/pages/library.pug
extends ../templates/template-white.pug
block content
  +header
  .container.pt-50.mt-60.mt-md-90
    .library.px-xl-100
      .row  
        .col-xl-5
          p.font-weight-medium.mb-20 Библиотека образовательно-просветительских материалов по цифровой грамотности
      .tabs
        .tabs__header
          a.tabs__btn.tabs__btn--active(href="#") Онлайн-материалы
          a.tabs__btn(href="#") Карта цифровых возможностей
        .tabs__content
          .tabs__item.tabs__item--active
            form.library__filters.mb-30.mb-lg-50(action="", method="POST")
              .library__filters-section
                .library__filters-header ФИЛЬТРЫ
                .library__filters-content
                  +tag-filter({
                    title: 'Все', 
                    id: 'tag1', 
                    isChecked: 'true'
                  }).tag-filter--row
                  +tag-filter({
                    title: '14—17 лет', 
                    id: 'tag2', 
                  }).tag-filter--row
                  +tag-filter({
                    title: 'СТАРШЕ 18 лет', 
                    id: 'tag3', 
                  }).tag-filter--row
                  +tag-filter({
                    title: 'ОНЛАЙН-УРОКИ', 
                    id: 'tag4', 
                  }).tag-filter--row
                  +tag-filter({
                    title: 'ВИДЕО', 
                    id: 'tag5', 
                  }).tag-filter--row
                  +tag-filter({
                    title: 'ИНФОГРАФИКА', 
                    id: 'tag6', 
                  }).tag-filter--row
                  +tag-filter({
                    title: 'ПОСОБИЯ', 
                    id: 'tag7', 
                  }).tag-filter--row
            .row
              .col-md-6.col-lg-4
                +news({
                  modifier: 'tagged'
                }).news--white
              .col-md-6.col-lg-4
                +news({
                  modifier: 'tagged'
                }).news--white
              .col-md-6.col-lg-4
                +news({
                  modifier: 'tagged'
                }).news--white
              .col-md-6.col-lg-4
                +news({
                  modifier: 'tagged'
                }).news--white
              .col-md-6.col-lg-4
                +news({
                  modifier: 'tagged'
                }).news--white
              .col-md-6.col-lg-4
                +news({
                  modifier: 'tagged'
                }).news--white
          .tabs__item
            form.library__filters(action="", method="POST")
              .library__filters-section
                .library__filters-header ТЕМЫ
                .library__filters-content
                  +tag-filter({
                    title: 'Все', 
                    id: 'tag8', 
                    isChecked: 'true'
                  }).tag-filter--row
                  +tag-filter({
                    title: 'кибербезопасность', 
                    id: 'tag9', 
                  }).tag-filter--row
                  +tag-filter({
                    title: 'компьютерная грамотность', 
                    id: 'tag10', 
                  }).tag-filter--row
                  +tag-filter({
                    title: 'социальные сети', 
                    id: 'tag11', 
                  }).tag-filter--row
                  +tag-filter({
                    title: 'цифровые компетенции', 
                    id: 'tag12', 
                  }).tag-filter--row
              .library__filters-mobile-btn Фильтры
              .library__filters-section.library__filters-mobile
                .library__filters-header Фильтры
                .library__filters-content.library__filters-content--row.mx-0
                  .library__filters-subsection
                    +tag-filter({
                      title: '14—17 лет', 
                      id: 'tag13', 
                    }).tag-filter--wide.mb-25
                    +tag-filter({
                      title: 'СТАРШЕ 18 лет', 
                      id: 'tag14', 
                    }).tag-filter--wide
                  .library__filters-subsection.library__filters-selects
                    +calendar.mb-25
                    +select({
                      placeholder: 'Выбрать город'
                    })
                  .library__filters-subsection
                    .library__range-wrapper
                      .custom-control.custom-radio
                        input#customRadio1.custom-control-input(type='radio', name='customRadio', checked)
                        label.custom-control-label(for='customRadio1') Платно
                      +range.ml-20
                    .custom-control.custom-radio
                      input#customRadio2.custom-control-input(type='radio', name='customRadio')
                      label.custom-control-label(for='customRadio2') Бесплатно
                  .library__filters-subsection.library__filters-types
                    +tag-filter({
                      title: 'ОНЛАЙН', 
                      id: 'tag15', 
                    }).tag-filter--type.tag-filter--online
                    +tag-filter({
                      title: 'ОФЛАЙН', 
                      id: 'tag16', 
                    }).tag-filter--type.tag-filter--offline
            .row
              .col-md-6.col-lg-4.d-flex.mb-50
                +event({
                  type: 'онлайн',
                  tag: 'компьютерная грамотность',
                  price: 'Бесплатно'
                }).event--online
              .col-md-6.col-lg-4.d-flex.mb-50
                +event({
                  type: 'ОФЛАЙН',
                  tag: 'СОЦИАЛЬНЫЕ СЕТИ',
                  price: '4 500 P'
                }).event--offline
              .col-md-6.col-lg-4.d-flex.mb-50
                +event({
                  type: 'онлайн',
                  tag: 'ЦИФРОВЫЕ КОМПЕТЕНЦИИ',
                  price: 'Бесплатно'
                }).event--online
              .col-md-6.col-lg-4.d-flex.mb-50
                +event({
                  type: 'онлайн',
                  tag: 'компьютерная грамотность',
                  price: '4 500 P'
                }).event--online
              .col-md-6.col-lg-4.d-flex.mb-50
                +event({
                  type: 'онлайн',
                  tag: 'КИБЕРБЕЗОПАСНОСТЬ',
                  price: 'Бесплатно'
                }).event--online
              .col-md-6.col-lg-4.d-flex.mb-50
                +event({
                  type: 'онлайн',
                  tag: 'компьютерная грамотность',
                  price: '4 500 P'
                }).event--online
  +partners
  +footer

public/library.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Цифровой диктант 2020</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body class="body--white">
      <div class="header">
        <div class="container">
          <div class="header__wrapper"><a class="logo" href="index.html"></a>
            <div class="header__content"><span class="header__content-top">Всероссийская образовательная акция по определению уровня цифровой грамотности</span>
              <div class="header__right">
                  <div class="menu"><a class="menu__btn" href="#"></a>
                    <div class="menu__content">
                        <div class="user d-xl-none">
                          <div class="user__header"><a class="user__name" href="#">Выйти из профиля</a><a class="user__notifications-btn" href="#"><span>5</span></a></div>
                          <div class="user__notifications-list">
                            <p class="user__notification"> <span>Спасибо за регистрацию. Акция стартует 4 февраля 2020 года"</span></p>
                            <p class="user__notification"> <span>Хотите пройти цифровой диктант, но у вас нет цифрового устройства? Ждем вас на офлайн-площадке вашего города. Узнать точный адрес можно в разделе "Региональные площадки"</span></p>
                            <p class="user__notification"> <span>Цифровой диктант начался! Успейте пройти сами и рассказать близким!</span></p>
                          </div>
                        </div>
                      <div class="menu__links-list"><a class="menu__link menu__link--active" href="#">О проекте</a><a class="menu__link" href="#">Региональные площадки</a><a class="menu__link" href="#">Новости</a><a class="menu__link" href="#">Хочу все знать</a><a class="menu__link" href="#">Стать партнером</a></div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
          <div class="user d-none d-xl-block">
            <div class="user__header"><a class="user__name" href="#">Выйти из профиля</a><a class="user__notifications-btn" href="#"><span>5</span></a></div>
            <div class="user__notifications-list">
              <p class="user__notification"> <span>Спасибо за регистрацию. Акция стартует 4 февраля 2020 года"</span></p>
              <p class="user__notification"> <span>Хотите пройти цифровой диктант, но у вас нет цифрового устройства? Ждем вас на офлайн-площадке вашего города. Узнать точный адрес можно в разделе "Региональные площадки"</span></p>
              <p class="user__notification"> <span>Цифровой диктант начался! Успейте пройти сами и рассказать близким!</span></p>
            </div>
          </div>
      </div>
    <div class="container pt-50 mt-60 mt-md-90">
      <div class="library px-xl-100">
        <div class="row"> 
          <div class="col-xl-5">
            <p class="font-weight-medium mb-20">Библиотека образовательно-просветительских материалов по цифровой грамотности</p>
          </div>
        </div>
        <div class="tabs">
          <div class="tabs__header"><a class="tabs__btn tabs__btn--active" href="#">Онлайн-материалы</a><a class="tabs__btn" href="#">Карта цифровых возможностей</a></div>
          <div class="tabs__content">
            <div class="tabs__item tabs__item--active">
              <form class="library__filters mb-30 mb-lg-50" action="" method="POST">
                <div class="library__filters-section">
                  <div class="library__filters-header">ФИЛЬТРЫ</div>
                  <div class="library__filters-content">
                      <div class="tag-filter tag-filter--row">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" type="checkbox" id="tag1" checked="true">
                          <label class="custom-control-label" for="tag1">Все</label>
                        </div>
                      </div>
                      <div class="tag-filter tag-filter--row">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" type="checkbox" id="tag2">
                          <label class="custom-control-label" for="tag2">14—17 лет</label>
                        </div>
                      </div>
                      <div class="tag-filter tag-filter--row">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" type="checkbox" id="tag3">
                          <label class="custom-control-label" for="tag3">СТАРШЕ 18 лет</label>
                        </div>
                      </div>
                      <div class="tag-filter tag-filter--row">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" type="checkbox" id="tag4">
                          <label class="custom-control-label" for="tag4">ОНЛАЙН-УРОКИ</label>
                        </div>
                      </div>
                      <div class="tag-filter tag-filter--row">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" type="checkbox" id="tag5">
                          <label class="custom-control-label" for="tag5">ВИДЕО</label>
                        </div>
                      </div>
                      <div class="tag-filter tag-filter--row">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" type="checkbox" id="tag6">
                          <label class="custom-control-label" for="tag6">ИНФОГРАФИКА</label>
                        </div>
                      </div>
                      <div class="tag-filter tag-filter--row">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" type="checkbox" id="tag7">
                          <label class="custom-control-label" for="tag7">ПОСОБИЯ</label>
                        </div>
                      </div>
                  </div>
                </div>
              </form>
              <div class="row">
                <div class="col-md-6 col-lg-4"><a class="news news--white" href="#"> 
                      <div class="news__picture" style="background-image: url(./img/news.png)"></div>
                      <div class="news__tags">
                          <div class="tag">14—17 лет</div>
                          <div class="tag">Видео</div>
                      </div>
                      <h4 class="mb-0 news__title">Какие фотографии не стоит выкладывать в интернет</h4></a>
                </div>
                <div class="col-md-6 col-lg-4"><a class="news news--white" href="#"> 
                      <div class="news__picture" style="background-image: url(./img/news.png)"></div>
                      <div class="news__tags">
                          <div class="tag">14—17 лет</div>
                          <div class="tag">Видео</div>
                      </div>
                      <h4 class="mb-0 news__title">Какие фотографии не стоит выкладывать в интернет</h4></a>
                </div>
                <div class="col-md-6 col-lg-4"><a class="news news--white" href="#"> 
                      <div class="news__picture" style="background-image: url(./img/news.png)"></div>
                      <div class="news__tags">
                          <div class="tag">14—17 лет</div>
                          <div class="tag">Видео</div>
                      </div>
                      <h4 class="mb-0 news__title">Какие фотографии не стоит выкладывать в интернет</h4></a>
                </div>
                <div class="col-md-6 col-lg-4"><a class="news news--white" href="#"> 
                      <div class="news__picture" style="background-image: url(./img/news.png)"></div>
                      <div class="news__tags">
                          <div class="tag">14—17 лет</div>
                          <div class="tag">Видео</div>
                      </div>
                      <h4 class="mb-0 news__title">Какие фотографии не стоит выкладывать в интернет</h4></a>
                </div>
                <div class="col-md-6 col-lg-4"><a class="news news--white" href="#"> 
                      <div class="news__picture" style="background-image: url(./img/news.png)"></div>
                      <div class="news__tags">
                          <div class="tag">14—17 лет</div>
                          <div class="tag">Видео</div>
                      </div>
                      <h4 class="mb-0 news__title">Какие фотографии не стоит выкладывать в интернет</h4></a>
                </div>
                <div class="col-md-6 col-lg-4"><a class="news news--white" href="#"> 
                      <div class="news__picture" style="background-image: url(./img/news.png)"></div>
                      <div class="news__tags">
                          <div class="tag">14—17 лет</div>
                          <div class="tag">Видео</div>
                      </div>
                      <h4 class="mb-0 news__title">Какие фотографии не стоит выкладывать в интернет</h4></a>
                </div>
              </div>
            </div>
            <div class="tabs__item">
              <form class="library__filters" action="" method="POST">
                <div class="library__filters-section">
                  <div class="library__filters-header">ТЕМЫ</div>
                  <div class="library__filters-content">
                      <div class="tag-filter tag-filter--row">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" type="checkbox" id="tag8" checked="true">
                          <label class="custom-control-label" for="tag8">Все</label>
                        </div>
                      </div>
                      <div class="tag-filter tag-filter--row">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" type="checkbox" id="tag9">
                          <label class="custom-control-label" for="tag9">кибербезопасность</label>
                        </div>
                      </div>
                      <div class="tag-filter tag-filter--row">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" type="checkbox" id="tag10">
                          <label class="custom-control-label" for="tag10">компьютерная грамотность</label>
                        </div>
                      </div>
                      <div class="tag-filter tag-filter--row">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" type="checkbox" id="tag11">
                          <label class="custom-control-label" for="tag11">социальные сети</label>
                        </div>
                      </div>
                      <div class="tag-filter tag-filter--row">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" type="checkbox" id="tag12">
                          <label class="custom-control-label" for="tag12">цифровые компетенции</label>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="library__filters-mobile-btn">Фильтры</div>
                <div class="library__filters-section library__filters-mobile">
                  <div class="library__filters-header">Фильтры</div>
                  <div class="library__filters-content library__filters-content--row mx-0">
                    <div class="library__filters-subsection">
                        <div class="tag-filter tag-filter--wide mb-25">
                          <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="tag13">
                            <label class="custom-control-label" for="tag13">14—17 лет</label>
                          </div>
                        </div>
                        <div class="tag-filter tag-filter--wide">
                          <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="tag14">
                            <label class="custom-control-label" for="tag14">СТАРШЕ 18 лет</label>
                          </div>
                        </div>
                    </div>
                    <div class="library__filters-subsection library__filters-selects">
                        <input class="calendar mb-25" type="text" placeholder="ВЫБРАТЬ ДАТУ">
                        <select class="select">
                          <option disabled selected>Выбрать город</option>
                          <option>Москва </option>
                          <option>Санкт-Петербург</option>
                          <option>Новосибирск</option>
                        </select>
                    </div>
                    <div class="library__filters-subsection">
                      <div class="library__range-wrapper">
                        <div class="custom-control custom-radio">
                          <input class="custom-control-input" id="customRadio1" type="radio" name="customRadio" checked>
                          <label class="custom-control-label" for="customRadio1">Платно</label>
                        </div>
                          <div class="range ml-20">
                            <input class="range__input" type="range" min="0" max="20000" step="500" value="5000">
                            <div class="range__value">до <span>0</span></div>
                          </div>
                      </div>
                      <div class="custom-control custom-radio">
                        <input class="custom-control-input" id="customRadio2" type="radio" name="customRadio">
                        <label class="custom-control-label" for="customRadio2">Бесплатно</label>
                      </div>
                    </div>
                    <div class="library__filters-subsection library__filters-types">
                        <div class="tag-filter tag-filter--type tag-filter--online">
                          <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="tag15">
                            <label class="custom-control-label" for="tag15">ОНЛАЙН</label>
                          </div>
                        </div>
                        <div class="tag-filter tag-filter--type tag-filter--offline">
                          <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="tag16">
                            <label class="custom-control-label" for="tag16">ОФЛАЙН</label>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="row">
                <div class="col-md-6 col-lg-4 d-flex mb-50"><a class="event event--online" href="#">
                      <div class="event__top">
                        <div class="event__type">онлайн</div>
                        <div class="event__tag">компьютерная грамотность</div>
                        <div class="event__tag">14—17 лет</div>
                      </div>
                      <div class="event__bottom">
                        <div class="event__title">Название мероприятия </div>
                        <div class="event__footer">
                          <div class="event__footer-left">
                            <p class="mb-0">Москва</p>
                            <p class="mb-0">18—19 октября</p>
                          </div>
                          <p class="mb-0 font-weight-bold">Бесплатно</p>
                        </div>
                      </div></a>
                </div>
                <div class="col-md-6 col-lg-4 d-flex mb-50"><a class="event event--offline" href="#">
                      <div class="event__top">
                        <div class="event__type">ОФЛАЙН</div>
                        <div class="event__tag">СОЦИАЛЬНЫЕ СЕТИ</div>
                        <div class="event__tag">14—17 лет</div>
                      </div>
                      <div class="event__bottom">
                        <div class="event__title">Название мероприятия </div>
                        <div class="event__footer">
                          <div class="event__footer-left">
                            <p class="mb-0">Москва</p>
                            <p class="mb-0">18—19 октября</p>
                          </div>
                          <p class="mb-0 font-weight-bold">4 500 P</p>
                        </div>
                      </div></a>
                </div>
                <div class="col-md-6 col-lg-4 d-flex mb-50"><a class="event event--online" href="#">
                      <div class="event__top">
                        <div class="event__type">онлайн</div>
                        <div class="event__tag">ЦИФРОВЫЕ КОМПЕТЕНЦИИ</div>
                        <div class="event__tag">14—17 лет</div>
                      </div>
                      <div class="event__bottom">
                        <div class="event__title">Название мероприятия </div>
                        <div class="event__footer">
                          <div class="event__footer-left">
                            <p class="mb-0">Москва</p>
                            <p class="mb-0">18—19 октября</p>
                          </div>
                          <p class="mb-0 font-weight-bold">Бесплатно</p>
                        </div>
                      </div></a>
                </div>
                <div class="col-md-6 col-lg-4 d-flex mb-50"><a class="event event--online" href="#">
                      <div class="event__top">
                        <div class="event__type">онлайн</div>
                        <div class="event__tag">компьютерная грамотность</div>
                        <div class="event__tag">14—17 лет</div>
                      </div>
                      <div class="event__bottom">
                        <div class="event__title">Название мероприятия </div>
                        <div class="event__footer">
                          <div class="event__footer-left">
                            <p class="mb-0">Москва</p>
                            <p class="mb-0">18—19 октября</p>
                          </div>
                          <p class="mb-0 font-weight-bold">4 500 P</p>
                        </div>
                      </div></a>
                </div>
                <div class="col-md-6 col-lg-4 d-flex mb-50"><a class="event event--online" href="#">
                      <div class="event__top">
                        <div class="event__type">онлайн</div>
                        <div class="event__tag">КИБЕРБЕЗОПАСНОСТЬ</div>
                        <div class="event__tag">14—17 лет</div>
                      </div>
                      <div class="event__bottom">
                        <div class="event__title">Название мероприятия </div>
                        <div class="event__footer">
                          <div class="event__footer-left">
                            <p class="mb-0">Москва</p>
                            <p class="mb-0">18—19 октября</p>
                          </div>
                          <p class="mb-0 font-weight-bold">Бесплатно</p>
                        </div>
                      </div></a>
                </div>
                <div class="col-md-6 col-lg-4 d-flex mb-50"><a class="event event--online" href="#">
                      <div class="event__top">
                        <div class="event__type">онлайн</div>
                        <div class="event__tag">компьютерная грамотность</div>
                        <div class="event__tag">14—17 лет</div>
                      </div>
                      <div class="event__bottom">
                        <div class="event__title">Название мероприятия </div>
                        <div class="event__footer">
                          <div class="event__footer-left">
                            <p class="mb-0">Москва</p>
                            <p class="mb-0">18—19 октября</p>
                          </div>
                          <p class="mb-0 font-weight-bold">4 500 P</p>
                        </div>
                      </div></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="partners">
        <div class="container">
          <div class="partners__row">
            <h4 class="partners__row-header">Организаторы акции</h4>
            <div class="row">
              <div class="col-6 col-md-4 col-lg-3 col-xl-2 d-flex">
                <div class="partners__item"><img class="partners__logo" src="./img/partner-1.png" alt></div>
              </div>
              <div class="col-6 col-md-4 col-lg-3 col-xl-2 d-flex">
                <div class="partners__item"><img class="partners__logo" src="./img/partner-2.png" alt></div>
              </div>
              <div class="col-6 col-md-4 col-lg-3 col-xl-2 d-flex">
                <div class="partners__item"><img class="partners__logo" src="./img/partner-6.png" alt></div>
              </div>
            </div>
          </div>
          <div class="partners__row">
            <h4 class="partners__row-header">Информационные партнеры</h4>
            <div class="row">
              <div class="col-6 col-md-4 col-lg-3 col-xl-2 d-flex">
                <div class="partners__item"><img class="partners__logo" src="./img/partner-3.png" alt></div>
              </div>
              <div class="col-6 col-md-4 col-lg-3 col-xl-2 d-flex">
                <div class="partners__item"><img class="partners__logo" src="./img/partner-30.svg" alt></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-xl-4 mb-30 mb-lg-0">
              <h4 class="mb-15">Социальные сети</h4>
                <div class="socials"><a class="socials__item socials__item--fb" href="#"></a><a class="socials__item socials__item--vk" href="#"></a><a class="socials__item socials__item--ok" href="#"></a><a class="socials__item socials__item--ig" href="#"></a><a class="socials__item socials__item--yt" href="#"></a>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 mb-30 mb-lg-0">
              <h4 class="mb-25">Контактная информация</h4>
              <h4 class="mb-25">Телефон: <br>+7 (495) 638 53 65 </h4>
              <h4>Официальный сайт РОЦИТ <br><a class="text-white" href="rocit.ru">rocit.ru</a></h4>
            </div>
            <div class="col-lg-5">
              <div class="footer__fund"><a class="footer__fund-logo" href="#"><img class="footer__fund-logo-img" src="./img/fund-logo.svg" alt><span class="footer__fund-dscr">Проект реализован с использованием гранта Президента Российской Федерации на развитие гражданского общества, предоставленного Фондом президентских грантов.</span></a></div>
            </div>
          </div>
        </div>
      </div><a class="up" href="#"></a>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
