public/login-start.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Цифровой диктант 2020</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <div class="header">
        <div class="container">
          <div class="header__wrapper"><a class="logo" href="index.html"></a>
            <div class="header__content"><span class="header__content-top">Всероссийская образовательная акция по определению уровня цифровой грамотности</span>
              <div class="header__right">
                  <div class="menu"><a class="menu__btn" href="#"></a>
                    <div class="menu__content">
                        <div class="user d-xl-none">
                          <div class="user__header"><a class="user__name" href="#">Выйти из профиля</a><a class="user__notifications-btn" href="#"><span>5</span></a></div>
                          <div class="user__notifications-list">
                            <p class="user__notification"> <span>Спасибо за регистрацию. Акция стартует 4 февраля 2020 года"</span></p>
                            <p class="user__notification"> <span>Хотите пройти цифровой диктант, но у вас нет цифрового устройства? Ждем вас на офлайн-площадке вашего города. Узнать точный адрес можно в разделе "Региональные площадки"</span></p>
                            <p class="user__notification"> <span>Цифровой диктант начался! Успейте пройти сами и рассказать близким!</span></p>
                          </div>
                        </div>
                      <div class="menu__links-list"><a class="menu__link menu__link--active" href="#">О проекте</a><a class="menu__link" href="#">Региональные площадки</a><a class="menu__link" href="#">Новости</a><a class="menu__link" href="#">Хочу все знать</a><a class="menu__link" href="#">Стать партнером</a></div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
          <div class="user d-none d-xl-block">
            <div class="user__header"><a class="user__name" href="#">Выйти из профиля</a><a class="user__notifications-btn" href="#"><span>5</span></a></div>
            <div class="user__notifications-list">
              <p class="user__notification"> <span>Спасибо за регистрацию. Акция стартует 4 февраля 2020 года"</span></p>
              <p class="user__notification"> <span>Хотите пройти цифровой диктант, но у вас нет цифрового устройства? Ждем вас на офлайн-площадке вашего города. Узнать точный адрес можно в разделе "Региональные площадки"</span></p>
              <p class="user__notification"> <span>Цифровой диктант начался! Успейте пройти сами и рассказать близким!</span></p>
            </div>
          </div>
      </div>
    <div class="enter pt-60 pt-lg-30">
      <div class="container py-50 py-lg-100">
        <div class="row">
          <div class="col-lg-6 mx-auto">
            <h1 class="text-white text-center mb-20">Добро пожаловать <br>на Цифровой Диктант!</h1>
            <p class="text-center">Для того, чтобы начать диктант, введите свой e-mail. Будьте внимательны и проверьте введенный адрес. После того, как вы пройдете тестирование, на этот e-mail будет отправлен ваш результат и ссылка для создания личного кабинета.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-5 mx-auto">
            <form class="form w-100" action="#" method="POST">
              <div class="form__item form-group">
                <input class="input form-control" type="email" placeholder="E-mail">
              </div>
              <button class="btn btn-white" type="submit">Выбрать возрастную категорию</button><a class="btn btn-link mt-15 p-0" href="#">Политика конфиденциальности</a>
            </form>
          </div>
        </div>
      </div>
    </div><a class="up" href="#"></a>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>

src/pages/login-start.pug
extends ../templates/template.pug
block content
  +header
  .enter.pt-60.pt-lg-30
    .container.py-50.py-lg-100
      .row
        .col-lg-6.mx-auto
          h1.text-white.text-center.mb-20 Добро пожаловать <br>на Цифровой Диктант!
          p.text-center Для того, чтобы начать диктант, введите свой e-mail. Будьте внимательны и проверьте введенный адрес. После того, как вы пройдете тестирование, на этот e-mail будет отправлен ваш результат и ссылка для создания личного кабинета.
      .row
        .col-lg-5.mx-auto
          form.form.w-100(action="#", method="POST")
            .form__item.form-group
              input.input.form-control(type="email", placeholder="E-mail")
            button.btn.btn-white(type="submit") Выбрать возрастную категорию
            a.btn.btn-link.mt-15.p-0(href="#") Политика конфиденциальности
