public/test-incorrect.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Цифровой диктант 2020</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <div class="header">
        <div class="container">
          <div class="header__wrapper"><a class="logo" href="index.html"></a>
            <div class="header__content"><span class="header__content-top">Всероссийская образовательная акция по определению уровня цифровой грамотности</span>
              <div class="header__right">
                  <div class="menu"><a class="menu__btn" href="#"></a>
                    <div class="menu__content">
                        <div class="user d-xl-none">
                          <div class="user__header"><a class="user__name" href="#">Выйти из профиля</a><a class="user__notifications-btn" href="#"><span>5</span></a></div>
                          <div class="user__notifications-list">
                            <p class="user__notification"> <span>Спасибо за регистрацию. Акция стартует 4 февраля 2020 года"</span></p>
                            <p class="user__notification"> <span>Хотите пройти цифровой диктант, но у вас нет цифрового устройства? Ждем вас на офлайн-площадке вашего города. Узнать точный адрес можно в разделе "Региональные площадки"</span></p>
                            <p class="user__notification"> <span>Цифровой диктант начался! Успейте пройти сами и рассказать близким!</span></p>
                          </div>
                        </div>
                      <div class="menu__links-list"><a class="menu__link menu__link--active" href="#">О проекте</a><a class="menu__link" href="#">Региональные площадки</a><a class="menu__link" href="#">Новости</a><a class="menu__link" href="#">Хочу все знать</a><a class="menu__link" href="#">Стать партнером</a></div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
          <div class="user d-none d-xl-block">
            <div class="user__header"><a class="user__name" href="#">Выйти из профиля</a><a class="user__notifications-btn" href="#"><span>5</span></a></div>
            <div class="user__notifications-list">
              <p class="user__notification"> <span>Спасибо за регистрацию. Акция стартует 4 февраля 2020 года"</span></p>
              <p class="user__notification"> <span>Хотите пройти цифровой диктант, но у вас нет цифрового устройства? Ждем вас на офлайн-площадке вашего города. Узнать точный адрес можно в разделе "Региональные площадки"</span></p>
              <p class="user__notification"> <span>Цифровой диктант начался! Успейте пройти сами и рассказать близким!</span></p>
            </div>
          </div>
      </div>
    <div class="pt-60 pt-lg-30">
      <div class="container py-50 py-lg-100">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="test">
              <div class="test__content">
                <div class="question question--incorrect">
                  <div class="question__header">
                    <div class="question__header-content">
                      <h2 class="mb-0">Работа над ошибками</h2>
                      <h2 class="mb-0"><span class="question__current-number">2</span>/<span class="question__total-number">30</span></h2>
                    </div>
                    <div class="question__progress">
                      <div class="question__progress-line" style="width: 100%"></div>
                    </div>
                  </div>
                  <div class="question__text-wrapper">
                    <div class="question__text-icon"></div>
                    <p class="text-dark">Вы купили новый ноутбук, на котором установлена последняя версия программного обеспечения. Какой способ установки обновлений вам следует выбрать, чтобы обеспечить максимальную работоспособность ноутбука в будущем?</p>
                  </div>
                  <form class="question__form" action="#" method="POST">
                    <div class="custom-control custom-radio custom-radio--test">
                      <input class="custom-control-input" id="customRadio1" type="radio" name="customRadio">
                      <label class="custom-control-label" for="customRadio1">Ежедневное ручное обновление</label>
                    </div>
                    <div class="custom-control custom-radio custom-radio--test custom-radio--incorrect">
                      <input class="custom-control-input" id="customRadio2" type="radio" name="customRadio" checked>
                      <label class="custom-control-label" for="customRadio2">Автоматическое обновление</label>
                    </div>
                    <div class="custom-control custom-radio custom-radio--test custom-radio--correct">
                      <input class="custom-control-input" id="customRadio3" type="radio" name="customRadio" checked>
                      <label class="custom-control-label" for="customRadio3">Обновление вручную  раз в неделю</label>
                      <div class="question__answer">Вы купили новый ноутбук, на котором установлена последняя версия программного обеспечения. Какой способ установки обновлений вам следует выбрать, чтобы обеспечить максимальную работоспособность ноутбука в будущем?</div>
                    </div>
                    <div class="custom-control custom-radio custom-radio--test">
                      <input class="custom-control-input" id="customRadio4" type="radio" name="customRadio">
                      <label class="custom-control-label" for="customRadio4">Зайду в настройки учетной записи App Store/Google Play Store/Microsoft Store и отменю подписку на это приложение</label>
                    </div>
                    <div class="question__footer justify-content-between mt-20">
                      <button class="btn btn-lg btn-shadow question__btn" type="submit">Предыдущий</button>
                      <button class="btn btn-lg btn-shadow question__btn" type="submit">Следующий</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><a class="up" href="#"></a>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>

src/pages/test-incorrect.pug
extends ../templates/template.pug
block content
  +header
  .pt-60.pt-lg-30
    .container.py-50.py-lg-100
      .row
        .col-lg-8.mx-auto
          .test
            .test__content
              .question.question--incorrect
                .question__header
                  .question__header-content
                    h2.mb-0 Работа над ошибками
                    h2.mb-0
                      span.question__current-number 2
                      | /
                      span.question__total-number 30
                  .question__progress
                    .question__progress-line(style="width: 100%")
                .question__text-wrapper
                  .question__text-icon
                  p.text-dark Вы купили новый ноутбук, на котором установлена последняя версия программного обеспечения. Какой способ установки обновлений вам следует выбрать, чтобы обеспечить максимальную работоспособность ноутбука в будущем?
                form.question__form(action="#", method="POST")
                  .custom-control.custom-radio.custom-radio--test
                    input#customRadio1.custom-control-input(type='radio', name='customRadio')
                    label.custom-control-label(for='customRadio1') Ежедневное ручное обновление
                  .custom-control.custom-radio.custom-radio--test.custom-radio--incorrect
                    input#customRadio2.custom-control-input(type='radio', name='customRadio', checked)
                    label.custom-control-label(for='customRadio2') Автоматическое обновление
                  .custom-control.custom-radio.custom-radio--test.custom-radio--correct
                    input#customRadio3.custom-control-input(type='radio', name='customRadio', checked)
                    label.custom-control-label(for='customRadio3') Обновление вручную  раз в неделю
                    .question__answer Вы купили новый ноутбук, на котором установлена последняя версия программного обеспечения. Какой способ установки обновлений вам следует выбрать, чтобы обеспечить максимальную работоспособность ноутбука в будущем?
                  .custom-control.custom-radio.custom-radio--test
                    input#customRadio4.custom-control-input(type='radio', name='customRadio')
                    label.custom-control-label(for='customRadio4') Зайду в настройки учетной записи App Store/Google Play Store/Microsoft Store и отменю подписку на это приложение
                  .question__footer.justify-content-between.mt-20
                    button.btn.btn-lg.btn-shadow.question__btn(type="submit") Предыдущий
                    button.btn.btn-lg.btn-shadow.question__btn(type="submit") Следующий
