public/test-age.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Цифровой диктант 2020</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <div class="header">
        <div class="container">
          <div class="header__wrapper"><a class="logo" href="index.html"></a>
            <div class="header__content"><span class="header__content-top">Всероссийская образовательная акция по определению уровня цифровой грамотности</span>
              <div class="header__right">
                  <div class="menu"><a class="menu__btn" href="#"></a>
                    <div class="menu__content">
                        <div class="user d-xl-none">
                          <div class="user__header"><a class="user__name" href="#">Выйти из профиля</a><a class="user__notifications-btn" href="#"><span>5</span></a></div>
                          <div class="user__notifications-list">
                            <p class="user__notification"> <span>Спасибо за регистрацию. Акция стартует 4 февраля 2020 года"</span></p>
                            <p class="user__notification"> <span>Хотите пройти цифровой диктант, но у вас нет цифрового устройства? Ждем вас на офлайн-площадке вашего города. Узнать точный адрес можно в разделе "Региональные площадки"</span></p>
                            <p class="user__notification"> <span>Цифровой диктант начался! Успейте пройти сами и рассказать близким!</span></p>
                          </div>
                        </div>
                      <div class="menu__links-list"><a class="menu__link menu__link--active" href="#">О проекте</a><a class="menu__link" href="#">Региональные площадки</a><a class="menu__link" href="#">Новости</a><a class="menu__link" href="#">Хочу все знать</a><a class="menu__link" href="#">Стать партнером</a></div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
          <div class="user d-none d-xl-block">
            <div class="user__header"><a class="user__name" href="#">Выйти из профиля</a><a class="user__notifications-btn" href="#"><span>5</span></a></div>
            <div class="user__notifications-list">
              <p class="user__notification"> <span>Спасибо за регистрацию. Акция стартует 4 февраля 2020 года"</span></p>
              <p class="user__notification"> <span>Хотите пройти цифровой диктант, но у вас нет цифрового устройства? Ждем вас на офлайн-площадке вашего города. Узнать точный адрес можно в разделе "Региональные площадки"</span></p>
              <p class="user__notification"> <span>Цифровой диктант начался! Успейте пройти сами и рассказать близким!</span></p>
            </div>
          </div>
      </div>
    <div class="pt-60 pt-lg-30">
      <div class="container py-50 py-lg-100">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="test">
              <div class="test__content">
                <h2 class="text-primary">Ваш возраст</h2>
                <div class="row mb-25">
                  <div class="col-md-6">
                    <div class="custom-control custom-radio custom-radio--test custom-radio--big">
                      <input class="custom-control-input" id="age1" type="radio" name="age" checked>
                      <label class="custom-control-label" for="age1">14—17 лет</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="custom-control custom-radio custom-radio--test custom-radio--big">
                      <input class="custom-control-input" id="age2" type="radio" name="age">
                      <label class="custom-control-label" for="age2">Старше 18 лет</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p class="text-dark">После нажатия на кнопку <a href="#">“Начать диктант” </a>, вы перейдете к тестированию. </p>
                    <p class="text-dark">К каждому вопросу будет предложено четыре варианта ответа, только один из которых является верным. Выберите тот ответ, который считаете правильным, и нажмите на него. Чтобы перейти к следующему вопросу, нажмите на кнопку “Следующий вопрос”. Время прохождения тестирования не ограничено.</p>
                  </div>
                  <div class="col-md-6">
                    <p class="text-dark">После того, как вы ответите на все вопросы Цифрового диктанта, вы узнаете свой общий уровень цифровой грамотности, а также насколько развиты ваши цифровые компетенции, навыки цифрового потребления и цифровой безопасности. Результатами можно будет поделиться в социальных сетях.</p>
                    <p class="text-dark">Желаем удачи!</p>
                  </div>
                </div>
                <div class="d-flex justify-content-center mt-10"><a class="btn btn-primary btn-lg btn-shadow" href="#">Начать диктант</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><a class="up" href="#"></a>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>

src/pages/test-age.pug
extends ../templates/template.pug
block content
  +header
  .pt-60.pt-lg-30
    .container.py-50.py-lg-100
      .row
        .col-lg-8.mx-auto
          .test
            .test__content
              h2.text-primary Ваш возраст
              .row.mb-25
                .col-md-6
                  .custom-control.custom-radio.custom-radio--test.custom-radio--big
                    input#age1.custom-control-input(type='radio', name='age' checked)
                    label.custom-control-label(for='age1') 14—17 лет
                .col-md-6
                  .custom-control.custom-radio.custom-radio--test.custom-radio--big
                    input#age2.custom-control-input(type='radio', name='age')
                    label.custom-control-label(for='age2') Старше 18 лет
              .row
                .col-md-6
                  p.text-dark После нажатия на кнопку 
                    a(href="#") “Начать диктант” 
                    |, вы перейдете к тестированию. 
                  p.text-dark К каждому вопросу будет предложено четыре варианта ответа, только один из которых является верным. Выберите тот ответ, который считаете правильным, и нажмите на него. Чтобы перейти к следующему вопросу, нажмите на кнопку “Следующий вопрос”. Время прохождения тестирования не ограничено.
                .col-md-6
                  p.text-dark После того, как вы ответите на все вопросы Цифрового диктанта, вы узнаете свой общий уровень цифровой грамотности, а также насколько развиты ваши цифровые компетенции, навыки цифрового потребления и цифровой безопасности. Результатами можно будет поделиться в социальных сетях.
                  p.text-dark Желаем удачи!
              .d-flex.justify-content-center.mt-10
                a.btn.btn-primary.btn-lg.btn-shadow(href="#") Начать диктант
