public/test-result-custom.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Цифровой диктант 2020</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body class="body--white">
      <div class="header">
        <div class="container">
          <div class="header__wrapper"><a class="logo" href="index.html"></a>
            <div class="header__content"><span class="header__content-top">Всероссийская образовательная акция по определению уровня цифровой грамотности</span>
              <div class="header__right">
                  <div class="menu"><a class="menu__btn" href="#"></a>
                    <div class="menu__content">
                        <div class="user d-xl-none">
                          <div class="user__header"><a class="user__name" href="#">Выйти из профиля</a><a class="user__notifications-btn" href="#"><span>5</span></a></div>
                          <div class="user__notifications-list">
                            <p class="user__notification"> <span>Спасибо за регистрацию. Акция стартует 4 февраля 2020 года"</span></p>
                            <p class="user__notification"> <span>Хотите пройти цифровой диктант, но у вас нет цифрового устройства? Ждем вас на офлайн-площадке вашего города. Узнать точный адрес можно в разделе "Региональные площадки"</span></p>
                            <p class="user__notification"> <span>Цифровой диктант начался! Успейте пройти сами и рассказать близким!</span></p>
                          </div>
                        </div>
                      <div class="menu__links-list"><a class="menu__link menu__link--active" href="#">О проекте</a><a class="menu__link" href="#">Региональные площадки</a><a class="menu__link" href="#">Новости</a><a class="menu__link" href="#">Хочу все знать</a><a class="menu__link" href="#">Стать партнером</a></div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
          <div class="user d-none d-xl-block">
            <div class="user__header"><a class="user__name" href="#">Выйти из профиля</a><a class="user__notifications-btn" href="#"><span>5</span></a></div>
            <div class="user__notifications-list">
              <p class="user__notification"> <span>Спасибо за регистрацию. Акция стартует 4 февраля 2020 года"</span></p>
              <p class="user__notification"> <span>Хотите пройти цифровой диктант, но у вас нет цифрового устройства? Ждем вас на офлайн-площадке вашего города. Узнать точный адрес можно в разделе "Региональные площадки"</span></p>
              <p class="user__notification"> <span>Цифровой диктант начался! Успейте пройти сами и рассказать близким!</span></p>
            </div>
          </div>
      </div>
    <div class="pt-60 pt-lg-30" style="background: url(./img/custom-bg.png) no-repeat center; background-size: cover;">
      <div class="container py-50 py-lg-100">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="test test--custom">
              <div class="test__content">
                <div class="test__result test__result--blue">
                  <div class="test__result-header pr-0 pr-md-50">
                    <div class="test__result-header-left">
                      <h3 class="test__result-title">Ваш результат Цифрового Диктанта по русскому языку</h3>
                      <p>Вы ответили верно на 10 из 30 вопросов</p>
                    </div>
                    <div class="test__result-rating"><span class="test__result-number">23</span><span class="test__result-overall">/30</span></div>
                  </div><a class="test__result-banner" href="#"><img class="test__result-banner-img" src="./img/banner.png" alt="Banner"></a>
                  <div class="row mt-30 mt-md-0">
                    <div class="col-xl-7 mx-auto">
                      <div class="test__result-footer test__result-footer--center"><a class="btn btn-primary btn-lg btn-shadow mb-10" href="#">СОЗДАТЬ ЛИЧНЫЙ КАБИНЕТ</a>
                        <p class="p--sm text-dark mb-0">Ссылка для создания личного кабинета также направлена на ваш e-mail. В личном кабинете вы сможете скачать сертификат, ознакомиться с подобранными специально для вас образовательными материалами по повышению цифровой грамотности и сделать работу над ошибками после завершения акции 11 апреля.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><a class="up" href="#"></a>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>

src/pages/test-result-custom.pug
extends ../templates/template-white.pug
block content
  +header
  .pt-60.pt-lg-30(style="background: url(./img/custom-bg.png) no-repeat center; background-size: cover;")
    .container.py-50.py-lg-100
      .row
        .col-lg-8.mx-auto
          .test.test--custom
            .test__content
              .test__result.test__result--blue
                .test__result-header.pr-0.pr-md-50
                  .test__result-header-left
                    h3.test__result-title Ваш результат Цифрового Диктанта по русскому языку
                    p Вы ответили верно на 10 из 30 вопросов
                  .test__result-rating
                    span.test__result-number 23
                    span.test__result-overall /30
                a.test__result-banner(href="#")
                  img.test__result-banner-img(src="./img/banner.png", alt="Banner")
                .row.mt-30.mt-md-0
                  .col-xl-7.mx-auto
                    .test__result-footer.test__result-footer--center
                      a.btn.btn-primary.btn-lg.btn-shadow.mb-10(href="#") СОЗДАТЬ ЛИЧНЫЙ КАБИНЕТ
                      p.p--sm.text-dark.mb-0 Ссылка для создания личного кабинета также направлена на ваш e-mail. В личном кабинете вы сможете скачать сертификат, ознакомиться с подобранными специально для вас образовательными материалами по повышению цифровой грамотности и сделать работу над ошибками после завершения акции 11 апреля.
