src/pages/test-result.pug
extends ../templates/template.pug
block content
  +header
  .pt-60.pt-lg-30
    .container.py-50.py-lg-100
      .row
        .col-lg-8.mx-auto
          .test
            .test__content
              .test__result
                .test__result-header
                  .test__result-header-left
                    h3.test__result-title Ваш результат Цифрового Диктанта
                    p Вы ответили верно на 10 из 30 вопросов
                  .test__result-rating 
                    span.test__result-number 8
                    span.test__result-overall /10
                  .test__result-right
                    +socials({
                      modifier: 'color'
                    }).socials--colored.test__result-socials
                .test__result-details
                  .row
                    .col-md-4
                      h4 Цифровое потребление
                      .test__result-details-number
                        span.test__result-details-number-main 8
                        | /10
                      p.p--sm.text-dark.pr-xl-30 Вы купили новый ноутбук, на котором установлена последняя версия 
                    .col-md-4
                      h4 Цифровые компетенциии
                      .test__result-details-number
                        span.test__result-details-number-main 3
                        | /10
                      p.p--sm.text-dark.pr-xl-30 Вы купили новый ноутбук, на котором установлена последняя версия 
                    .col-md-4
                      h4 Цифровая безопасность
                      .test__result-details-number
                        span.test__result-details-number-main 9
                        | /10
                      p.p--sm.text-dark.pr-xl-30 Вы купили новый ноутбук, на котором установлена последняя версия 
                .row.mt-30
                  .col-xl-7.mx-auto
                    .test__result-footer.test__result-footer--center
                      a.btn.btn-primary.btn-lg.btn-shadow.mb-10(href="#") СОЗДАТЬ ЛИЧНЫЙ КАБИНЕТ
                      p.p--sm.text-dark.mb-0 Ссылка для создания личного кабинета также направлена на ваш e-mail. В личном кабинете вы сможете скачать сертификат, ознакомиться с подобранными специально для вас образовательными материалами по повышению цифровой грамотности и сделать работу над ошибками после завершения акции 11 апреля.

public/test-result.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Цифровой диктант 2020</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <div class="header">
        <div class="container">
          <div class="header__wrapper"><a class="logo" href="index.html"></a>
            <div class="header__content"><span class="header__content-top">Всероссийская образовательная акция по определению уровня цифровой грамотности</span>
              <div class="header__right">
                  <div class="menu"><a class="menu__btn" href="#"></a>
                    <div class="menu__content">
                        <div class="user d-xl-none">
                          <div class="user__header"><a class="user__name" href="#">Выйти из профиля</a><a class="user__notifications-btn" href="#"><span>5</span></a></div>
                          <div class="user__notifications-list">
                            <p class="user__notification"> <span>Спасибо за регистрацию. Акция стартует 4 февраля 2020 года"</span></p>
                            <p class="user__notification"> <span>Хотите пройти цифровой диктант, но у вас нет цифрового устройства? Ждем вас на офлайн-площадке вашего города. Узнать точный адрес можно в разделе "Региональные площадки"</span></p>
                            <p class="user__notification"> <span>Цифровой диктант начался! Успейте пройти сами и рассказать близким!</span></p>
                          </div>
                        </div>
                      <div class="menu__links-list"><a class="menu__link menu__link--active" href="#">О проекте</a><a class="menu__link" href="#">Региональные площадки</a><a class="menu__link" href="#">Новости</a><a class="menu__link" href="#">Хочу все знать</a><a class="menu__link" href="#">Стать партнером</a></div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
          <div class="user d-none d-xl-block">
            <div class="user__header"><a class="user__name" href="#">Выйти из профиля</a><a class="user__notifications-btn" href="#"><span>5</span></a></div>
            <div class="user__notifications-list">
              <p class="user__notification"> <span>Спасибо за регистрацию. Акция стартует 4 февраля 2020 года"</span></p>
              <p class="user__notification"> <span>Хотите пройти цифровой диктант, но у вас нет цифрового устройства? Ждем вас на офлайн-площадке вашего города. Узнать точный адрес можно в разделе "Региональные площадки"</span></p>
              <p class="user__notification"> <span>Цифровой диктант начался! Успейте пройти сами и рассказать близким!</span></p>
            </div>
          </div>
      </div>
    <div class="pt-60 pt-lg-30">
      <div class="container py-50 py-lg-100">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="test">
              <div class="test__content">
                <div class="test__result">
                  <div class="test__result-header">
                    <div class="test__result-header-left">
                      <h3 class="test__result-title">Ваш результат Цифрового Диктанта</h3>
                      <p>Вы ответили верно на 10 из 30 вопросов</p>
                    </div>
                    <div class="test__result-rating"> <span class="test__result-number">8</span><span class="test__result-overall">/10</span></div>
                    <div class="test__result-right">
                        <div class="socials socials--colored test__result-socials"><a class="socials__item socials__item--tw" href="#"></a><a class="socials__item socials__item--tg" href="#"></a><a class="socials__item socials__item--fb" href="#"></a><a class="socials__item socials__item--vk" href="#"></a><a class="socials__item socials__item--ok" href="#"></a>
                        </div>
                    </div>
                  </div>
                  <div class="test__result-details">
                    <div class="row">
                      <div class="col-md-4">
                        <h4>Цифровое потребление</h4>
                        <div class="test__result-details-number"><span class="test__result-details-number-main">8</span>/10</div>
                        <p class="p--sm text-dark pr-xl-30">Вы купили новый ноутбук, на котором установлена последняя версия </p>
                      </div>
                      <div class="col-md-4">
                        <h4>Цифровые компетенциии</h4>
                        <div class="test__result-details-number"><span class="test__result-details-number-main">3</span>/10</div>
                        <p class="p--sm text-dark pr-xl-30">Вы купили новый ноутбук, на котором установлена последняя версия </p>
                      </div>
                      <div class="col-md-4">
                        <h4>Цифровая безопасность</h4>
                        <div class="test__result-details-number"><span class="test__result-details-number-main">9</span>/10</div>
                        <p class="p--sm text-dark pr-xl-30">Вы купили новый ноутбук, на котором установлена последняя версия </p>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-30">
                    <div class="col-xl-7 mx-auto">
                      <div class="test__result-footer test__result-footer--center"><a class="btn btn-primary btn-lg btn-shadow mb-10" href="#">СОЗДАТЬ ЛИЧНЫЙ КАБИНЕТ</a>
                        <p class="p--sm text-dark mb-0">Ссылка для создания личного кабинета также направлена на ваш e-mail. В личном кабинете вы сможете скачать сертификат, ознакомиться с подобранными специально для вас образовательными материалами по повышению цифровой грамотности и сделать работу над ошибками после завершения акции 11 апреля.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><a class="up" href="#"></a>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
