src/pages/test-info.pug
extends ../templates/template.pug
block content
  +header
  .pt-60.pt-lg-30
    .container.py-50.py-lg-100
      .row
        .col-lg-8.mx-auto
          .test
            .test__content
              .test__info
                h2.test__info-header Немного о вас
                p.text-dark Эти данные будут использованы только в обобщенном виде.
                form.form(action="#", method="POST")
                  .form__item
                    label.form__label Ваш пол
                    .test__info-form-wrapper
                      .row
                        .col-6
                          .custom-control.custom-radio.custom-radio--test
                            input#customRadio1.custom-control-input(type='radio', name='sex')
                            label.custom-control-label.font-weight-normal(for='customRadio1') Мужской
                        .col-6
                          .custom-control.custom-radio.custom-radio--test
                            input#customRadio2.custom-control-input(type='radio', name='sex')
                            label.custom-control-label.font-weight-normal(for='customRadio2') Женский
                  .form__item
                    label.form__label Ваш возраст
                    .test__info-form-wrapper
                      .row
                        .col-auto.mb-10
                          .custom-control.custom-radio.custom-radio--test.custom-radio--fixed
                            input#customRadio3.custom-control-input(type='radio', name='age')
                            label.custom-control-label(for='customRadio3') 7-13
                        .col-auto.mb-10
                          .custom-control.custom-radio.custom-radio--test.custom-radio--fixed
                            input#customRadio3.custom-control-input(type='radio', name='age')
                            label.custom-control-label(for='customRadio3') 14-17
                        .col-auto.mb-10
                          .custom-control.custom-radio.custom-radio--test.custom-radio--fixed
                            input#customRadio3.custom-control-input(type='radio', name='age')
                            label.custom-control-label(for='customRadio3') 18—24
                        .col-auto.mb-10
                          .custom-control.custom-radio.custom-radio--test.custom-radio--fixed
                            input#customRadio4.custom-control-input(type='radio', name='age')
                            label.custom-control-label(for='customRadio4') 25—34
                        .col-auto.mb-10
                          .custom-control.custom-radio.custom-radio--test.custom-radio--fixed
                            input#customRadio5.custom-control-input(type='radio', name='age')
                            label.custom-control-label(for='customRadio5') 35—44
                        .col-auto.mb-10
                          .custom-control.custom-radio.custom-radio--test.custom-radio--fixed
                            input#customRadio6.custom-control-input(type='radio', name='age')
                            label.custom-control-label(for='customRadio6') 45—59
                        .col-auto.mb-10
                          .custom-control.custom-radio.custom-radio--test.custom-radio--fixed
                            input#customRadio6.custom-control-input(type='radio', name='age')
                            label.custom-control-label(for='customRadio6') 60 и старше
                  .form__item
                    label.form__label.mb-20 Ваш регион
                    .test__info-form-wrapper
                      .row
                        .col-md-6
                          +select({
                            placeholder: 'Выбрать'
                          }).select--dark
                  .d-flex.justify-content-center
                    button.btn.btn-primary.btn-lg.btn-shadow(type="submit") Узнать результат

public/test-info.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Цифровой диктант 2020</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <div class="header">
        <div class="container">
          <div class="header__wrapper"><a class="logo" href="index.html"></a>
            <div class="header__content"><span class="header__content-top">Всероссийская образовательная акция по определению уровня цифровой грамотности</span>
              <div class="header__right">
                  <div class="menu"><a class="menu__btn" href="#"></a>
                    <div class="menu__content">
                        <div class="user d-xl-none">
                          <div class="user__header"><a class="user__name" href="#">Выйти из профиля</a><a class="user__notifications-btn" href="#"><span>5</span></a></div>
                          <div class="user__notifications-list">
                            <p class="user__notification"> <span>Спасибо за регистрацию. Акция стартует 4 февраля 2020 года"</span></p>
                            <p class="user__notification"> <span>Хотите пройти цифровой диктант, но у вас нет цифрового устройства? Ждем вас на офлайн-площадке вашего города. Узнать точный адрес можно в разделе "Региональные площадки"</span></p>
                            <p class="user__notification"> <span>Цифровой диктант начался! Успейте пройти сами и рассказать близким!</span></p>
                          </div>
                        </div>
                      <div class="menu__links-list"><a class="menu__link menu__link--active" href="#">О проекте</a><a class="menu__link" href="#">Региональные площадки</a><a class="menu__link" href="#">Новости</a><a class="menu__link" href="#">Хочу все знать</a><a class="menu__link" href="#">Стать партнером</a></div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
          <div class="user d-none d-xl-block">
            <div class="user__header"><a class="user__name" href="#">Выйти из профиля</a><a class="user__notifications-btn" href="#"><span>5</span></a></div>
            <div class="user__notifications-list">
              <p class="user__notification"> <span>Спасибо за регистрацию. Акция стартует 4 февраля 2020 года"</span></p>
              <p class="user__notification"> <span>Хотите пройти цифровой диктант, но у вас нет цифрового устройства? Ждем вас на офлайн-площадке вашего города. Узнать точный адрес можно в разделе "Региональные площадки"</span></p>
              <p class="user__notification"> <span>Цифровой диктант начался! Успейте пройти сами и рассказать близким!</span></p>
            </div>
          </div>
      </div>
    <div class="pt-60 pt-lg-30">
      <div class="container py-50 py-lg-100">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="test">
              <div class="test__content">
                <div class="test__info">
                  <h2 class="test__info-header">Немного о вас</h2>
                  <p class="text-dark">Эти данные будут использованы только в обобщенном виде.</p>
                  <form class="form" action="#" method="POST">
                    <div class="form__item">
                      <label class="form__label">Ваш пол</label>
                      <div class="test__info-form-wrapper">
                        <div class="row">
                          <div class="col-6">
                            <div class="custom-control custom-radio custom-radio--test">
                              <input class="custom-control-input" id="customRadio1" type="radio" name="sex">
                              <label class="custom-control-label font-weight-normal" for="customRadio1">Мужской</label>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="custom-control custom-radio custom-radio--test">
                              <input class="custom-control-input" id="customRadio2" type="radio" name="sex">
                              <label class="custom-control-label font-weight-normal" for="customRadio2">Женский</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form__item">
                      <label class="form__label">Ваш возраст</label>
                      <div class="test__info-form-wrapper">
                        <div class="row">
                          <div class="col-auto mb-10">
                            <div class="custom-control custom-radio custom-radio--test custom-radio--fixed">
                              <input class="custom-control-input" id="customRadio3" type="radio" name="age">
                              <label class="custom-control-label" for="customRadio3">7-13</label>
                            </div>
                          </div>
                          <div class="col-auto mb-10">
                            <div class="custom-control custom-radio custom-radio--test custom-radio--fixed">
                              <input class="custom-control-input" id="customRadio3" type="radio" name="age">
                              <label class="custom-control-label" for="customRadio3">14-17</label>
                            </div>
                          </div>
                          <div class="col-auto mb-10">
                            <div class="custom-control custom-radio custom-radio--test custom-radio--fixed">
                              <input class="custom-control-input" id="customRadio3" type="radio" name="age">
                              <label class="custom-control-label" for="customRadio3">18—24</label>
                            </div>
                          </div>
                          <div class="col-auto mb-10">
                            <div class="custom-control custom-radio custom-radio--test custom-radio--fixed">
                              <input class="custom-control-input" id="customRadio4" type="radio" name="age">
                              <label class="custom-control-label" for="customRadio4">25—34</label>
                            </div>
                          </div>
                          <div class="col-auto mb-10">
                            <div class="custom-control custom-radio custom-radio--test custom-radio--fixed">
                              <input class="custom-control-input" id="customRadio5" type="radio" name="age">
                              <label class="custom-control-label" for="customRadio5">35—44</label>
                            </div>
                          </div>
                          <div class="col-auto mb-10">
                            <div class="custom-control custom-radio custom-radio--test custom-radio--fixed">
                              <input class="custom-control-input" id="customRadio6" type="radio" name="age">
                              <label class="custom-control-label" for="customRadio6">45—59</label>
                            </div>
                          </div>
                          <div class="col-auto mb-10">
                            <div class="custom-control custom-radio custom-radio--test custom-radio--fixed">
                              <input class="custom-control-input" id="customRadio6" type="radio" name="age">
                              <label class="custom-control-label" for="customRadio6">60 и старше</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form__item">
                      <label class="form__label mb-20">Ваш регион</label>
                      <div class="test__info-form-wrapper">
                        <div class="row">
                          <div class="col-md-6">
                              <select class="select select--dark">
                                <option disabled selected>Выбрать</option>
                                <option>Москва </option>
                                <option>Санкт-Петербург</option>
                                <option>Новосибирск</option>
                              </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-center">
                      <button class="btn btn-primary btn-lg btn-shadow" type="submit">Узнать результат</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><a class="up" href="#"></a>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
